<div class="innerBodyWeb">
	<div class="header">
		<div class="center">
			<div class="logo" routerLink="/"></div>
		</div>
	</div>

	<div class="innerBodyContent">
		<div class="container" *ngIf="pageStatus == 'default'">
			<div class="title">
				Reset password
			</div>

			<div class="text">
				<div class="userBox">
					<div class="image">
						<img [src]="userData.avatar ? userData.avatarUrl : environment.avatar"/>
					</div>
					<div class="data">
						<div class="name">{{userData.name ? userData.name : environment.name}}</div>
						<div class="user">@{{userData.username ? userData.username : environment.name}}</div>
					</div>
				</div>
			</div>

			<div class="form">
				<form autocomplete="off" novalidate [formGroup]="actionForm" (ngSubmit)="submit($event);">
					<mat-form-field>
						<input type="{{showPassword ? 'text' : 'password'}}" matInput placeholder="New password" #Password maxlength="100"  formControlName="password">
						<button mat-button matSuffix mat-icon-button type="button" *ngIf="Password.value.length > 0" (click)="showPassword=!showPassword" tabindex="-1">
							<i [ngClass]="{'active': showPassword}" label="visibility"></i>
						</button>
						<mat-hint align="end">{{Password.value.length}}/100</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<input type="{{showConfirmPassword ? 'text' : 'password'}}" matInput placeholder="Confirm new password" #ConfirmPassword maxlength="100"  formControlName="confirmPassword">
						<button mat-button matSuffix mat-icon-button type="button" *ngIf="ConfirmPassword.value.length > 0" (click)="showConfirmPassword=!showConfirmPassword" tabindex="-1">
							<i [ngClass]="{'active': showConfirmPassword}" label="visibility"></i>
						</button>
						<mat-hint align="end">{{ConfirmPassword.value.length}}/100</mat-hint>
					</mat-form-field>

					<re-captcha class="reCaptcha" (resolved)="verifyReCaptcha($event)" siteKey="{{environment.reCaptcha}}"></re-captcha>

					<div class="buttons">
						<button mat-raised-button type="submit">
							<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="container" *ngIf="pageStatus == 'completed'">
			<div class="title">
				Congratulations
			</div>

			<div class="text">
				The password has been updated successfully,
				<b>@{{userData.username}}</b> now you can use your new password.
				<br>
				<br>
				We have sent a copy to <b>{{userData.email}}</b>.
				<br>
				<button mat-raised-button type="button" (click)="signin()">
					<mat-progress-spinner mode="indeterminate" *ngIf="signinLoading"></mat-progress-spinner>
					View my account
				</button>
			</div>
		</div>

		<div class="container" *ngIf="pageStatus == 'error'">
			<div class="title">
				Error
			</div>

			<div class="text">
				This url is not available or has expired.
			</div>
		</div>
	</div>
</div>
