<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageNews">
			<div class="back" (click)="goBack()">
				<button mat-icon-button>
					<i label="back"></i>
				</button>
				<div class="text">{{translations?.common?.back}}</div>
			</div>

			<div class="pageTitle">{{translations?.news?.title}}</div>

			<div class="content">
				<div class="searchBox news" *ngIf="data.active === 'default' || data.active === 'search'">
				 	<div class="box">
						<form [formGroup]="actionFormSearch" (ngSubmit)="search('send')">
							<div class="inner">
								<i class="icon85 grey" label="search"></i>
								<input type="text" placeholder="{{translations?.common?.search}}" formControlName="caption">
								<button mat-icon-button type="button" *ngIf="actionFormSearch.controls.caption.value.length > 0" (click)="search('clear')">
									<i class="icon85 grey" label="close"></i>
								</button>
							</div>
						</form>
					</div>
				</div>

				<span *ngIf="data.active === 'default'">
					<ul class="publicationsBoxes" *ngIf="dataDefault?.list">
						<li *ngFor="let x of dataDefault?.list" [ngClass]="{remove: x?.addRemoveSession, advert: x?.contentTypeAd, big: x?.big}">
							<span class="inner" *ngIf="!x.contentTypeAd">
								<a mat-ripple class="image" routerLink="/p/{{x.name}}" target="popup" (click)="itemPublicationOptions('show', x); false;">
									<div class="img" [ngStyle]="{'background-image': 'url(' + (x?.contentData ? (env.pathPhotos + x.contentData.name) : env.defaultPostImage) + ')'}"></div>
								</a>
							</span>

							<div class="ad" *ngIf="x.contentTypeAd">
								<div class="adContent" [innerHtml]="x.content | safeHtml"></div>
								<div class="disableAdBlock" *ngIf="hideAd">
									{{translations?.common?.disableAdBlock}}
								</div>
							</div>
						</li>
					</ul>

					<div class="loadingData" *ngIf="dataDefault.loadingData">
						<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
					</div>

					<div class="noData" *ngIf="dataDefault.noData">
						<div class="description">{{translations?.news?.noData}}</div>
					</div>

					<div class="loadMore" *ngIf="dataDefault.loadMoreData">
						<button mat-fab (click)="default('more')" *ngIf="!dataDefault.loadingMoreData">
							<i label="add"></i>
						</button>
						<mat-progress-spinner mode="indeterminate" *ngIf="dataDefault.loadingMoreData"></mat-progress-spinner>
					</div>
				</span>

				<span *ngIf="data.active === 'search'">
					<mat-tab-group mat-stretch-tabs [(selectedIndex)]="data.selectedIndex" (selectedIndexChange)="setTab(data.selectedIndex)">
						<mat-tab label="{{translations?.news?.top}}">
							<ul class="followers" *ngIf="dataTop.list">
								<li *ngFor="let x of dataTop.list; let i=index;">
									<span *ngIf="x.type === 'user'">
										<a class="avatar" routerLink="/{{x.user.username}}">
											<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
										</a>

										<div class="texts">
											<div class="text">
												<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
												<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
											</div>

											<div class="text">
												{{x.user.name}}
											</div>
										</div>
									</span>

									<span *ngIf="x.type === 'hashtag'" (click)="setHashtag('set', x)">
										<a class="avatar">
											<div class="hashtag">#</div>
										</a>

										<div class="texts">
											<div class="text">
												<a>{{x.caption}}</a>
											</div>

											<div class="text">
												{{x.count}} {{translations?.news?.posts}}
											</div>
										</div>
									</span>
								</li>
							</ul>

							<div class="loadingData" *ngIf="dataTop.loadingData">
								<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
							</div>

							<div class="noData" *ngIf="dataTop.noData">
								<div class="description">{{translations?.common?.noSearchResults}}</div>
							</div>
						</mat-tab>

						<mat-tab label="{{translations?.news?.people}}">
							<ul class="followers" *ngIf="dataPeople.list">
								<li *ngFor="let x of dataPeople.list; let i=index;">
									<a class="avatar" routerLink="/{{x.user.username}}">
										<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
									</a>

									<div class="texts">
										<div class="text">
											<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
											<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
										</div>

										<div class="text">
											{{x.user.name}}
										</div>
									</div>
								</li>
							</ul>

							<div class="loadingData" *ngIf="dataPeople.loadingData">
								<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
							</div>

							<div class="noData" *ngIf="dataPeople.noData">
								<div class="description">{{translations?.common?.noSearchResults}}</div>
							</div>

							<div class="loadMore" *ngIf="dataPeople.loadMoreData">
								<button mat-fab (click)="people('more')" *ngIf="!dataPeople.loadingMoreData">
									<i label="add"></i>
								</button>
								<mat-progress-spinner mode="indeterminate" *ngIf="dataPeople.loadingMoreData"></mat-progress-spinner>
							</div>
						</mat-tab>

						<mat-tab label="{{translations?.news?.posts}}">
							<ul class="publicationsBoxes" *ngIf="dataPosts?.list">
								<li *ngFor="let x of dataPosts?.list" [ngClass]="{remove: x?.addRemoveSession, advert: x?.contentTypeAd, big: x?.big}">
									<span class="inner" *ngIf="!x.contentTypeAd">
										<a mat-ripple class="image" routerLink="/p/{{x.name}}" target="popup" (click)="itemPublicationOptions('show', x); false;">
											<div class="img" [ngStyle]="{'background-image': 'url(' + (x?.contentData ? (env.pathPhotos + x.contentData.name) : env.defaultPostImage) + ')'}"></div>
										</a>
									</span>

									<div class="ad" *ngIf="x.contentTypeAd">
										<div class="adContent" [innerHtml]="x.content | safeHtml"></div>
										<div class="disableAdBlock" *ngIf="hideAd">
											{{translations?.common?.disableAdBlock}}
										</div>
									</div>
								</li>
							</ul>

							<div class="loadingData" *ngIf="dataPosts.loadingData">
								<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
							</div>

							<div class="noData" *ngIf="dataPosts.noData">
								<div class="description">{{translations?.common?.noSearchResults}}</div>
							</div>

							<div class="loadMore" *ngIf="dataPosts.loadMoreData">
								<button mat-fab (click)="tag('more')" *ngIf="!dataPosts.loadingMoreData">
									<i label="add"></i>
								</button>
								<mat-progress-spinner mode="indeterminate" *ngIf="dataPosts.loadingMoreData"></mat-progress-spinner>
							</div>
						</mat-tab>

						<mat-tab label="{{translations?.news?.tag}}">
							<ul class="followers" *ngIf="dataTop.list">
								<li *ngFor="let x of dataTag.list; let i=index;" (click)="setHashtag('set', x)">
									<a class="avatar">
										<div class="hashtag">#</div>
									</a>

									<div class="texts">
										<div class="text">
											<a>{{x.caption}}</a>
										</div>

										<div class="text">
											{{x.count}} {{translations?.news?.posts}}
										</div>
									</div>
								</li>
							</ul>

							<div class="loadingData" *ngIf="dataTag.loadingData">
								<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
							</div>

							<div class="noData" *ngIf="dataTag.noData">
								<div class="description">{{translations?.common?.noSearchResults}}</div>
							</div>

							<div class="loadMore" *ngIf="dataTag.loadMoreData">
								<button mat-fab (click)="tag('more')" *ngIf="!dataTag.loadingMoreData">
									<i label="add"></i>
								</button>
								<mat-progress-spinner mode="indeterminate" *ngIf="dataTag.loadingMoreData"></mat-progress-spinner>
							</div>
						</mat-tab>
					</mat-tab-group>
				</span>

				<span *ngIf="data.active === 'hashtag'">
					<div class="back" (click)="setHashtag('close', null)">
						<button mat-icon-button>
							<i label="back"></i>
						</button>
						<div class="text">{{data.selectedHashtag}}</div>
					</div>

					<div class="line" *ngFor="let line of dataHashtag.list" [ngClass]="{'ad': line.contentTypeAd}">
						<ul class="publications" *ngIf="!line.contentTypeAd">
							<li mat-ripple *ngFor="let x of line">
								<a class="image" (click)="show(x, i)">
									<span *ngIf="x.type === 'photo'">
										<div class="img" [ngStyle]="{'background-image': 'url(' + (x.photos.mimetype.indexOf('image') !== -1 ? env.pathPhotos : env.pathVideos) + 'thumbnails/' + x.photos.name + ')'}"></div>
									</span>
									<span *ngIf="x.type === 'url'">
										<div class="img" [ngStyle]="{'background-image': 'url(' + x.urlVideo.thumbnail + ')'}"></div>
									</span>
								</a>
							</li>
						</ul>

						<div class="adContent" *ngIf="line.contentTypeAd">
							<div class="box" [innerHtml]="line.content | safeHtml"></div>
							<div class="disableAdBlock" *ngIf="hideAd">
								{{translations?.common?.disableAdBlock}}
							</div>
						</div>
					</div>

					<div class="loadingData" *ngIf="dataHashtag.loadingData">
						<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
					</div>

					<div class="noData" *ngIf="dataHashtag.noData">
						<div class="description">{{translations?.common?.noSearchResults}}</div>
					</div>

					<div class="loadMore" *ngIf="dataHashtag.loadMoreData">
						<button mat-fab (click)="setHashtag('more', null)" *ngIf="!dataHashtag.loadingMoreData">
							<i label="add"></i>
						</button>
						<mat-progress-spinner mode="indeterminate" *ngIf="dataHashtag.loadingMoreData"></mat-progress-spinner>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
