<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageNotifications">
			<div class="content">
				<div class="back" (click)="goBack()">
					<button mat-icon-button>
						<i label="back"></i>
					</button>
					<div class="text">{{translations?.common?.back}}</div>
				</div>

				<div class="pageTitle">{{translations?.notifications?.title}}</div>

				<ul class="notifications" *ngIf="dataDefault.list">
					<li mat-ripple *ngFor="let x of dataDefault.list; let i = index;" [ngClass]="{'active': x.is_seen == 0, 'remove': x.addRemoveSession}">
						<a class="avatar" routerLink="/{{x.user.username}}">
							<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
						</a>

						<div class="inner" *ngIf="x.url === 'followers'">
							<div class="texts">
								<div class="text">
									<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
									<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
									<div class="date">{{x?.date | timeago}}</div>
								</div>

								<div class="text">
									<span *ngIf="x.type === 'startFollowing' || x.type === 'startFollowingPrivate' || x.type === 'startFollowingPrivateAccepted'">
										{{translations?.notifications?.startFollowingYou}}
									</span>
									<span *ngIf="x.type === 'acceptRequest'">
										{{translations?.notifications?.acceptFollowingRequest}}
									</span>
								</div>
							</div>

							<div class="operations">
								<!-- Request from others -->
								<span class="acceptDecline" *ngIf="sessionData.current.id === x.receiver && x.type === 'startFollowingPrivate'">
									<button mat-button class="active" (click)="followUnfollow('accept', x)">
										{{translations?.notifications?.accept}}
									</button>
									<button mat-button class="active" (click)="followUnfollow('decline', x)">
										{{translations?.notifications?.decline}}
									</button>
								</span>

								<!-- Mine Requests -->
								<span *ngIf="x.type !== 'startFollowingPrivate'">
									<button mat-button *ngIf="x.status === 'unfollow'" (click)="followUnfollow('follow', x)">
										{{translations?.common?.follow}}
									</button>

									<button mat-button class="pending" *ngIf="sessionData.current.id !== 'x.receiver' && x.status === 'pending'" [matMenuTriggerFor]="cancelRequest">
										{{translations?.common?.pending}}
									</button>

									<button mat-button class="following" *ngIf="x.status === 'following'" [matMenuTriggerFor]="stopFollowing">
										{{translations?.common?.following}}
									</button>

									<mat-menu #cancelRequest="matMenu" yPosition="below" xPosition="before" class="removeBox">
										<div class="text">
											{{translations?.common?.cancelRequest}}
										</div>
										<div class="buttons">
											<button mat-menu-item>{{translations?.common?.no}}</button>
											<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
										</div>
									</mat-menu>

									<mat-menu #stopFollowing="matMenu" yPosition="below" xPosition="before" class="removeBox">
										<div class="text">
											{{translations?.notifications?.stopFollowing}}
											<br>
											{{x.user.username}}?
										</div>
										<div class="buttons">
											<button mat-menu-item>{{translations?.common?.no}}</button>
											<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
										</div>
									</mat-menu>
								</span>

								<div class="actions">
									<button mat-icon-button [matMenuTriggerFor]="options">
										<i class="icon85 grey" label="more"></i>
									</button>

									<mat-menu #options="matMenu">
										<button mat-menu-item (click)="itemOptions('report', x)">{{translations?.common?.report}}</button>
										<button mat-menu-item (click)="itemOptions('remove', x)">{{x.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
									</mat-menu>
								</div>
							</div>
						</div>

						<div class="inner" *ngIf="x.url === 'publications'">
							<div class="texts">
								<div class="text">
									<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
									<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
									<div class="date">{{x?.date | timeago}}</div>
								</div>

								<a class="text" routerLink="/p/{{x?.contentData?.name}}" target="popup" (click)="show(x); false;">
									<span *ngIf="x.type === 'comment'">
										{{translations?.notifications?.commentedYourPublication}}
										<br>
										<span *ngIf="x.contentData.comment" [innerHtml]="x.contentData.comment.comment | safeHtml"></span>
									</span>

									<span *ngIf="x.type === 'mentionComment'">
										{{translations?.notifications?.mentionOnCommentOnPublication}}
										<br>
										<span *ngIf="x.contentData.comment" [innerHtml]="x.contentData.comment.comment | safeHtml"></span>
									</span>

									<span *ngIf="x.type === 'like'">
										{{translations?.notifications?.likedYourPublication}}
									</span>

									<span *ngIf="x.type === 'mention'">
										{{translations?.notifications?.mentionOnPublication}}
									</span>

									<span *ngIf="x.type === 'share'">
										{{translations?.notifications?.sharedPublication}}
									</span>

									<span *ngIf="!x.contentData.media">
										<br>
										<span [innerHtml]="x.contentData.content | safeHtml"></span>
									</span>
								</a>
							</div>

							<div class="operations">
								<a class="image" routerLink="/p/{{x?.contentData?.name}}" target="popup" (click)="show(x); false;" *ngIf="x.contentData.media">
									<div class="img" [ngStyle]="{'background-image': 'url(' + x.contentData.media + ')'}"></div>
								</a>

								<div class="actions">
									<button mat-icon-button [matMenuTriggerFor]="options">
										<i class="icon85 grey" label="more"></i>
									</button>

									<mat-menu #options="matMenu">
										<button mat-menu-item (click)="itemOptions('report', x)">{{translations?.common?.report}}</button>
										<button mat-menu-item (click)="itemOptions('remove', x)">{{x.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
									</mat-menu>
								</div>
							</div>
						</div>

						<div class="inner" *ngIf="x.url === 'audios'">
							<div class="texts">
								<div class="text">
									<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
									<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
									<div class="date">{{x?.date | timeago}}</div>
								</div>

								<div class="text">
									<span *ngIf="x.type === 'share'">
										{{translations?.notifications?.sharedAudio}}
										<br>
										<div class="song" [ngClass]="{active: audioPlayerData.key === 0 && audioPlayerData.location === 'notifications' && audioPlayerData.type === i, default: !x.contentData.image}">
											<div mat-ripple class="songInner">
												<div class="songImage">
													<button mat-icon-button (click)="playSong(x.contentData, x.contentData, 0, i)">
														<i label="play" *ngIf="!x.contentData.playing || !(audioPlayerData.location === 'notifications' && audioPlayerData.type === i)"></i>
														<i label="pause" *ngIf="x.contentData.playing && (audioPlayerData.location === 'notifications' && audioPlayerData.type === i)"></i>
														<img *ngIf="x.contentData.image" [src]="x.contentData.imageSrc"/>
													</button>
												</div>

												<div class="songText" (click)="playSong(x.contentData, x.contentData, 0, i)">
													<div class="titleArtist" title="{{x.contentData.original_title ? x.contentData.original_title : x.contentData.title}}">
														<div class="title" [innerHtml]="(x.contentData.original_title ? x.contentData.original_title : x.contentData.title) | safeHtml"></div>
														<div class="artist" [innerHtml]="(x.contentData.original_artist ? x.contentData.original_artist : x.contentData.title) | safeHtml"></div>
													</div>
													<div class="duration">{{x.contentData.duration}}</div>
												</div>

												<div class="textActions" *ngIf="sessionData.current.id">
													<button mat-icon-button [matMenuTriggerFor]="appMenu">
														<i class="icon75 blue" label="check" *ngIf="x.contentData.addRemoveUser"></i>
														<i class="icon75 grey" label="more" *ngIf="!x.contentData.addRemoveUser"></i>
													</button>

													<mat-menu #appMenu="matMenu">
														<button mat-menu-item (click)="itemSongOptions('addRemoveUser', x.contentData, null)">{{!x.contentData.addRemoveUser ? translations?.common?.add : translations?.common?.remove}}</button>
														<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">{{translations?.common?.addToPlaylist}}</button>
														<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
														<button mat-menu-item (click)="itemSongOptions('report', x.contentData, null)">{{translations?.common?.report}}</button>
													</mat-menu>

													<mat-menu #menuPlaylists="matMenu">
														<button mat-menu-item (click)="itemSongOptions('createPlaylist', x, null)">{{translations?.common?.createPlaylist}}</button>
														<mat-divider *ngIf="sessionData?.current?.playlists?.length > 0"></mat-divider>
														<span *ngFor="let p of sessionData.current.playlists">
															<button mat-menu-item *ngIf="!p.removed" (click)="itemSongOptions('playlist', x.contentData, p)">{{p.title}}</button>
														</span>
													</mat-menu>

													<mat-menu #menuShareSocial="matMenu">
														<button mat-menu-item (click)="shareOn('message', x.contentData)">{{translations?.common?.sendMessage}}</button>
														<button mat-menu-item (click)="shareOn('newTab', x.contentData)">{{translations?.common?.openInNewTab}}</button>
														<button mat-menu-item (click)="shareOn('copyLink', x.contentData)">{{translations?.common?.copyLink}}</button>
													</mat-menu>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>

							<div class="operations">
								<div class="actions">
									<button mat-icon-button [matMenuTriggerFor]="options">
										<i class="icon85 grey" label="more"></i>
									</button>
									
									<mat-menu #options="matMenu">
										<button mat-menu-item (click)="itemOptions('report', x)">{{translations?.common?.report}}</button>
										<button mat-menu-item (click)="itemOptions('remove', x)">{{x.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
									</mat-menu>
								</div>
							</div>
						</div>

						<div class="inner" *ngIf="x.url === 'message'">
							<div class="texts">
								<div class="text">
									<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
									<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
									<div class="date">{{x?.date | timeago}}</div>
								</div>

								<div class="text">
									{{translations?.notifications?.haveNewMessage}}
									<br>
									<span [innerHtml]="x.contentData.content | safeHtml"></span>
								</div>
							</div>

							<div class="operations">
								<div class="actions">
									<button mat-icon-button [matMenuTriggerFor]="options">
										<i class="icon85 grey" label="more"></i>
									</button>

									<mat-menu #options="matMenu">
										<button mat-menu-item (click)="itemOptions('report', x)">{{translations?.common?.report}}</button>
										<button mat-menu-item (click)="itemOptions('remove', x)">{{x.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
									</mat-menu>
								</div>
							</div>
						</div>

						<!-- item to remove if not exists -->
						<div class="inner" *ngIf="!(x.url === 'followers' || x.url === 'publications' || x.url === 'audios' || x.url === 'message')">
							<div class="texts">
								<div class="text">
									<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
									<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
									<div class="date">{{x?.date | timeago}}</div>
								</div>

								<div class="text">
									{{translations?.common?.remove}}
								</div>
							</div>

							<div class="operations">
								<div class="actions">
									<button mat-icon-button [matMenuTriggerFor]="options">
										<i class="icon85 grey" label="more"></i>
									</button>
									
									<mat-menu #options="matMenu">
										<button mat-menu-item (click)="itemOptions('report', x)">{{translations?.common?.report}}</button>
										<button mat-menu-item (click)="itemOptions('remove', x)">{{x.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
									</mat-menu>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<div class="loadingData" *ngIf="dataDefault.loadingData">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>

				<div class="noData" *ngIf="dataDefault.noData">
					<div class="description">{{translations?.notifications?.noData}}</div>
				</div>

				<div class="loadMore" *ngIf="dataDefault.loadMoreData">
					<button mat-fab (click)="default('more')" *ngIf="!dataDefault.loadingMoreData">
						<i label="add"></i>
					</button>
					<mat-progress-spinner mode="indeterminate" *ngIf="dataDefault.loadingMoreData"></mat-progress-spinner>
				</div>
			</div>
		</div>
	</div>
</div>
