<div class="dialogBox">
	<div mat-dialog-title class="header">
		<div class="back">
			<button mat-icon-button (click)="close()">
				<i label="back"></i>
			</button>
		</div>
		<div class="text">
			{{translations?.settings?.changeAvatar}}
		</div>
	</div>

	<div mat-dialog-content class="bodyCropper">
		<div class="image">
			<img *ngIf="data.comeFrom == 'avatar'" (load)="imageLoad()" [src]="sessionData.current.avatarCropper ? sessionData.current.avatarCropper : environment.avatar" #imageSrc>
			
			<img *ngIf="data.comeFrom == 'background'" (load)="imageLoad()" [src]="sessionData.current.backgroundCropper ? sessionData.current.backgroundCropper : environment.background" #imageSrc>
		</div>
	</div>

	<div mat-dialog-actions class="buttons newCropper">
		<div class="panel">
			<button mat-raised-button type="button" (click)="cropperFunctions('zoomIn')">
				<i label="zoom-in"></i>
			</button>
			<button mat-raised-button type="button" (click)="cropperFunctions('zoomOut')">
				<i label="zoom-out"></i>
			</button>
			<button mat-raised-button type="button" (click)="cropperFunctions('rotateLeft')">
				<i label="rotate-left"></i>
			</button>
			<button mat-raised-button type="button" (click)="cropperFunctions('rotateRight')">
				<i label="rotate-right"></i>
			</button>
			<button mat-raised-button type="button" (click)="cropperFunctions('flipHorizontal')">
				<i label="swap-horiz"></i>
			</button>
			<button mat-raised-button type="button" (click)="cropperFunctions('flipVertical')">
				<i label="swap-vert"></i>
			</button>
		</div>

		<div class="actions">
			<button mat-raised-button type="button" (click)="cropperFunctions('close')">
				{{translations?.common?.cancel}}
			</button>
			<button mat-raised-button type="submit" (click)="cropperFunctions('crop')">
				<mat-progress-spinner mode="indeterminate" *ngIf="saveLoading"></mat-progress-spinner>
				{{translations?.common?.submit}}
			</button>
		</div>
	</div>
</div>
