<div class="mobilePlayer">
	<!-- <div class="topBar">
		<div class="grabber" (click)="close()"></div>

		<div class="goTo">
			<button mat-raised-button type="button" routerLink="/{{sessionData.current.username}}/songs" (click)="close()">
				{{translations?.audios?.goAudios}}
			</button>
		</div>
	</div> -->

	<div class="box">
		<div class="player" [ngClass]="{'active': audioPlayerData.activeThumbnail}">
			<!-- <div class="thumbnail" *ngIf="audioPlayerData.activeThumbnail"> -->
			<div class="thumbnail">
				<div class="inner">
					<img [src]="audioPlayerData?.current?.image ? audioPlayerData?.current?.image : env.defaultSongCover"/>
				</div>
			</div>
			
			<div class="top">
				<div class="panel">
					<div class="texts">
						<div class="text" [style.color]="audioPlayerData?.current?.background">{{audioPlayerData?.current?.original_title ? audioPlayerData?.current?.original_title : audioPlayerData?.current?.title}}</div>
						<div class="text">{{audioPlayerData?.current?.original_artist ? audioPlayerData?.current?.original_artist : audioPlayerData?.current?.title}}</div>
					</div>

					<!-- <div class="actions" *ngIf="audioPlayerData?.current?.initialized"> -->
					<div class="actions">
						<button mat-mini-fab (click)="itemSongOptions('addRemoveSession', audioPlayerData?.current?.item, null)" *ngIf="audioPlayerData?.current?.user == sessionData.current?.id && audioPlayerData?.current?.type == 'default'">
							<i label="add" *ngIf="audioPlayerData?.current?.item?.addRemoveSession"></i>
							<i label="check" *ngIf="!audioPlayerData?.current?.item?.addRemoveSession"></i>
						</button>
						<button mat-mini-fab (click)="itemSongOptions('addRemoveUser', audioPlayerData?.current.item, null)" *ngIf="audioPlayerData?.current.user != sessionData.current.id || audioPlayerData?.current.type != 'default'">
							<i label="add" *ngIf="!audioPlayerData?.current?.item?.addRemoveUser"></i>
							<i label="check" *ngIf="audioPlayerData?.current?.item?.addRemoveUser"></i>
						</button>

						<button mat-icon-button [matMenuTriggerFor]="appMenu">
							<i label="more"></i>
						</button>

						<mat-menu #appMenu="matMenu">
							<button mat-menu-item (click)="itemSongOptions('addRemoveUser', audioPlayerData?.current?.item, null)" *ngIf="audioPlayerData?.current?.user != sessionData.current.id || audioPlayerData?.current?.type != 'default'">{{!audioPlayerData?.current?.item?.addRemoveUser ? translations?.common?.add : translations?.common?.remove}}</button>
							<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">{{translations?.common?.addToPlaylist}}</button>
							<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
							<button mat-menu-item (click)="itemSongOptions('report', audioPlayerData?.current?.item, null)">{{translations?.common?.report}}</button>
							<mat-divider *ngIf="audioPlayerData?.current?.user == sessionData.current.id && audioPlayerData?.current?.type == 'default'"></mat-divider>
							<button mat-menu-item (click)="itemSongOptions('addRemoveSession', audioPlayerData?.current?.item, null)" *ngIf="audioPlayerData?.current?.user == sessionData.current.id && audioPlayerData?.current?.type == 'default'">{{audioPlayerData?.current?.item.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
						</mat-menu>

						<mat-menu #menuPlaylists="matMenu">
							<button mat-menu-item (click)="itemSongOptions('createPlaylist', audioPlayerData?.current?.item, null)">{{translations?.common?.createPlaylist}}</button>
							<mat-divider *ngIf="sessionData?.current?.playlists?.length"></mat-divider>
							<span *ngFor="let p of sessionData?.current?.playlists">
								<button mat-menu-item *ngIf="!p.removed" (click)="itemSongOptions('playlist', audioPlayerData?.current?.item, p)">
									<img [src]="p.image ? (env.pathAudios + 'covers/' + p.image) : env.defaultPlaylistCover">
									{{p.title}}
								</button>
							</span>
						</mat-menu>

						<mat-menu #menuShareSocial="matMenu">
							<button mat-menu-item (click)="itemSongOptions('message', audioPlayerData?.current?.item, null)">{{translations?.common?.sendMessage}}</button>
							<button mat-menu-item (click)="itemSongOptions('newTab', audioPlayerData?.current?.item, null)">{{translations?.common?.openInNewTab}}</button>
							<button mat-menu-item (click)="itemSongOptions('copyLink', audioPlayerData?.current?.item, null)">{{translations?.common?.copyLink}}</button>
						</mat-menu>
					</div>
				</div>
				
				<div class="progress">
					<mat-slider min="0" max="1000" [value]="audioPlayerData?.current?.progress" (change)="progressBar($event)" [disabled]="audioPlayerData?.list.length == 0"></mat-slider>
				</div>
				
				<div class="duration">
					<div class="current">{{audioPlayerData?.current?.time}}</div>
					<div class="total">{{audioPlayerData?.current?.duration}}</div>
				</div>
			</div>

			<div class="controls">
				<button mat-mini-fab (click)="playSong('shuffle', '')" class="shuffle" [ngClass]="{'active': audioPlayerData?.shuffle, 'disabled': audioPlayerData?.list.length <= 1}">
					<i></i>
				</button>

				<button mat-mini-fab (click)="playSong('prev', '')" class="prev" [ngClass]="{'disabled': audioPlayerData?.list.length <= 1}">
					<i [style.background]="audioPlayerData?.current?.background"></i>
				</button>

				<button mat-fab (click)="playSong('play', '')" class="playPause" [ngClass]="{'disabled': audioPlayerData?.list.length == 0}">
					<i class="play" *ngIf="!audioPlayerData?.playing && !audioPlayerData?.loading" [ngStyle]="{'box-shadow': audioPlayerData?.current?.shadow, 'background': audioPlayerData?.current?.background}"></i>
					<i class="pause" *ngIf="audioPlayerData?.playing && !audioPlayerData?.loading" [ngStyle]="{'box-shadow': audioPlayerData?.current?.shadow, 'background': audioPlayerData?.current?.background}"></i>
					<mat-progress-spinner mode="indeterminate" *ngIf="audioPlayerData?.loading"></mat-progress-spinner>
				</button>

				<button mat-mini-fab (click)="playSong('next', '')" class="next" [ngClass]="{'disabled': audioPlayerData?.list.length <= 1}">
					<i [style.background]="audioPlayerData?.current?.background"></i>
				</button>

				<button mat-mini-fab (click)="playSong('repeat', '')" class="repeat" [ngClass]="{'active': audioPlayerData?.repeat, 'disabled': audioPlayerData?.list.length <= 1}">
					<i></i>
				</button>
			</div>

			<div class="buttons">
				<button mat-mini-fab type="button" (click)="playSong('explore', '')">
					<i label="launch" class="icon75"></i>
				</button>
				<button mat-raised-button type="button" (click)="playSong('supermode', '')">
					<i label="logo" class="icon85"></i>
					{{translations?.common?.name}}
				</button>
				<button mat-mini-fab type="button" (click)="playSong('thumbnail', '')">
					<!-- <i label="playlist" [ngClass]="{'blue': audioPlayerData?.activeThumbnail}"></i> -->
					<i label="playlist" *ngIf="!audioPlayerData?.activeThumbnail"></i>
					<i label="music-note" class="icon75" *ngIf="audioPlayerData?.activeThumbnail"></i>
				</button>
			</div>

			<div class="close">
				<button mat-mini-fab (click)="close()">
					<i label="close"></i>
				</button>
			</div>
		</div>

		<!-- <div class="data" *ngIf="!audioPlayerData.activeThumbnail"> -->
		<div class="data" >
			<div class="backdrop" *ngIf="!audioPlayerData.activeThumbnail" [ngStyle]="{'background': audioPlayerData?.current?.background}"></div>
		    <ul class="tracks" *ngIf="audioPlayerData?.list.length > 0">
				<li *ngFor="let x of audioPlayerData?.list; let i=index;" [ngClass]="{active: audioPlayerData?.current?.key == i, remove: x.addRemoveSession}">
					<div class="inner" *ngIf="!x.contentTypeAd">
						<div class="image">
							<button mat-icon-button (click)="playSong('item', i)">
								<i label="play" *ngIf="!x?.playing"></i>
								<i label="pause" *ngIf="x?.playing"></i>
								<img [src]="x.image ? (env.pathAudios + 'thumbnails/' + x.image) : env.defaultSongCover"/>
							</button>
						</div>
						<div class="text" (click)="playSong('item', i)">
							<div class="titleArtist" title="{{x.original_title ? x.original_title : x.title}}">
								<div class="title">{{x.original_title ? x.original_title : x.title}}</div>
								<div class="artist">{{x.original_artist ? x.original_artist : x.title}}</div>
							</div>
							<div class="explicitDuration">
								<i label="explicit" class="icon65 grey" matTooltip="{{translations?.common?.explicit}}" *ngIf="x.explicit"></i>
								<div class="duration">{{(audioPlayerData?.current?.key == i) ? (x.countdown ? x.countdown : x.duration) : x.duration}}</div>
							</div>
						</div>
						<div class="actions">
							<span *ngIf="audioPlayerData?.current?.user == sessionData.current.id && audioPlayerData?.current?.type == 'default'">
								<button mat-icon-button [matMenuTriggerFor]="appMenu">
									<i label="more"></i>
								</button>
							</span>

							<span *ngIf="audioPlayerData?.current?.user != sessionData.current.id || audioPlayerData?.current?.type != 'default'">
								<button mat-icon-button [matMenuTriggerFor]="appMenu">
									<i class="icon85 blue" label="check" *ngIf="x.addRemoveUser"></i>
									<i class="icon85 grey" label="more" *ngIf="!x.addRemoveUser"></i>
								</button>
							</span>

							<mat-menu #appMenu="matMenu">
								<button mat-menu-item (click)="itemSongOptions('addRemoveUser', x, null)" *ngIf="audioPlayerData?.current?.user != sessionData.current.id || audioPlayerData?.current?.type != 'default'">{{!x.addRemoveUser ? translations?.common?.add : translations?.common?.remove}}</button>
								<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">{{translations?.common?.addToPlaylist}}</button>
								<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
								<button mat-menu-item (click)="itemSongOptions('report', x, null)">{{translations?.common?.report}}</button>
								<mat-divider *ngIf="audioPlayerData?.current?.user == sessionData.current.id && audioPlayerData?.current?.type == 'default'"></mat-divider>
								<button mat-menu-item (click)="itemSongOptions('addRemoveSession', x, null)" *ngIf="audioPlayerData?.current?.user == sessionData.current.id && audioPlayerData?.current?.type == 'default'">{{x.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
							</mat-menu>

							<mat-menu #menuPlaylists="matMenu">
								<button mat-menu-item (click)="itemSongOptions('createPlaylist', x, null)">{{translations?.common?.createPlaylist}}</button>
								<mat-divider *ngIf="sessionData?.current?.playlists?.length"></mat-divider>
								<span *ngFor="let p of sessionData?.current?.playlists">
									<button mat-menu-item *ngIf="!p.removed" (click)="itemSongOptions('playlist', x, p)">
										<img [src]="p.image ? (env.pathAudios + 'covers/' + p.image) : env.defaultPlaylistCover">
										{{p.title}}
									</button>
								</span>
							</mat-menu>

							<mat-menu #menuShareSocial="matMenu">
								<button mat-menu-item (click)="itemSongOptions('message', x, null)">{{translations?.common?.sendMessage}}</button>
								<button mat-menu-item (click)="itemSongOptions('newTab', x, null)">{{translations?.common?.openInNewTab}}</button>
								<button mat-menu-item (click)="itemSongOptions('copyLink', x, null)">{{translations?.common?.copyLink}}</button>
							</mat-menu>
						</div>
					</div>
				</li>
		    </ul>

		    <div class="noData" *ngIf="noData">
		    	<div class="description">{{translations?.audios?.noData}}</div>
		    </div>
		</div>
	</div>
</div>