<div class="innerBodyWeb">
	<div class="header">
		<div class="back" routerLink="/">
			<button mat-icon-button>
				<i label="back"></i>
			</button>
		</div>
		<div class="center">
			<div class="logo" routerLink="/"></div>
		</div>
	</div>

	<div class="innerBodyContent">
		<div class="container">
			<div class="title">
				{{translations?.signIn?.title}}
			</div>

			<div class="form">
				<form autocomplete="off" novalidate [formGroup]="actionForm" (ngSubmit)="submit($event);">
					<mat-form-field>
						<input type="email" matInput placeholder="{{translations?.signIn?.email}}" #Email maxlength="100" formControlName="email">
						<mat-hint align="end">{{Email.value.length}}/100</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<input type="password" matInput placeholder="{{translations?.signIn?.password}}" #Password maxlength="100" formControlName="password">
						<button mat-button matSuffix mat-icon-button type="button" (click)="showPassword=!showPassword" tabindex="-1">
							<i [ngClass]="{'active': showPassword}" label="visibility"></i>
						</button>
						<mat-hint align="end">{{Password.value.length}}/100</mat-hint>
					</mat-form-field>

					<re-captcha class="reCaptcha" (resolved)="verifyReCaptcha($event)" siteKey="{{env.reCaptcha}}"></re-captcha>

					<div class="buttons">
						<button mat-raised-button type="submit">
							<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
							{{translations?.common?.signIn}}
						</button>
						<br>
						<button mat-button class="forgot" type="button" routerLink="/forgot-password">
							{{translations?.common?.forgotPassword}}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
