<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageWeb">
			<div class="content">
				<div class="back" (click)="goBack()">
					<button mat-icon-button>
						<i label="back"></i>
					</button>
					<div class="text">{{translations?.common?.back}}</div>
				</div>

				<div class="pageTitle">{{translations?.signIn?.title}}</div>

				<div class="form">
					<form autocomplete="off" novalidate [formGroup]="actionForm" (ngSubmit)="submit($event);">
						<mat-form-field>
							<input type="email" matInput placeholder="{{translations?.signIn?.usernameEmail}}" #Email maxlength="100" formControlName="email">
							<mat-hint align="end">{{Email.value.length}}/100</mat-hint>
						</mat-form-field>

						<mat-form-field>
							<input type="{{showPassword ? 'text' : 'password'}}" matInput placeholder="{{translations?.signIn?.password}}" #Password maxlength="100" formControlName="password">
							<button mat-button matSuffix mat-icon-button type="button" (click)="showPassword=!showPassword" tabindex="-1">
								<i class="icon75 grey" [ngClass]="{'active': showPassword}" label="visibility"></i>
							</button>
							<mat-hint align="end">{{Password.value.length}}/100</mat-hint>
						</mat-form-field>

						<re-captcha class="reCaptcha" (resolved)="verifyReCaptcha($event)" siteKey="{{env.reCaptcha}}"></re-captcha>

						<div class="buttons">
							<button mat-raised-button type="submit" [disabled]="submitLoading">
								<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
								{{translations?.common?.signIn}}
							</button>
							<br>
							<button mat-button class="forgot" type="button" routerLink="/forgot-password">
								{{translations?.common?.forgotPassword}}
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
