<div class="dialogBoxBackdrop" (click)="close()"></div>

<div class="dialogBox" #dialogBox>
	<div class="backdrop">
		<div class="image">
			<img class="one" [src]="data?.current?.image ? (env.pathAudios + 'covers/' + data?.current?.image) : env.defaultPlaylistCover">
			<img class="two" [src]="data?.current?.image ? (env.pathAudios + 'covers/' + data?.current?.image) : env.defaultPlaylistCover">
		</div>
	</div>

	<div mat-dialog-title class="header">
		<div class="left">
			<button mat-icon-button (click)="close()">
				<i label="back"></i>
			</button>

			<div class="text">
				{{translations?.audios?.playlist}}
			</div>
		</div>
	</div>

	<div mat-dialog-content class="bodyPlaylist">
		<div class="playlist">
			<div class="info" *ngIf="!data.loadingData">
				<div class="left">
					<div class="image" [ngStyle]="{'box-shadow': data?.info?.shadow}">
						<img [src]="data?.current?.image ? (env.pathAudios + 'covers/' + data?.current?.image) : env.defaultPlaylistCover">
					</div>
				</div>

				<div class="right">
					<div class="texts">
						<div class="title">
							{{data?.info?.title}}
						</div>

						<div class="button panel">
							<button mat-button (click)="playTrack('prev')">
								<i label="prev"></i>
							</button>

							<button mat-button (click)="playTrack('play')" class="play">
								<i label="pause" *ngIf="data.playing"></i>
								<i label="play" *ngIf="!data.playing"></i>
							</button>

							<button mat-button (click)="playTrack('next')">
								<i label="next"></i>
							</button>
						</div>

						<a class="user" routerLink="/{{data?.info?.user?.username}}" *ngIf="data?.info?.user?.id">
							@{{data?.info?.user?.username}}
							<i class="icon50 blue" label="official" *ngIf="data?.info?.user?.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
						</a>

						<div class="user" *ngIf="!data?.info?.user?.id">
							{{translations?.audios?.editorsChoice}}
						</div>
					</div>

					<div class="actions" *ngIf="sessionData?.current?.id">
						<button mat-icon-button [matMenuTriggerFor]="appMenu">
							<i class="icon85 blue" label="check" *ngIf="data?.info?.addRemoveUser"></i>
							<i class="icon85 grey" label="more" *ngIf="!data?.info?.addRemoveUser"></i>
						</button>

						<mat-menu #appMenu="matMenu">
							<button mat-menu-item (click)="itemPlaylistOptions('edit', data?.info, i)" *ngIf="data?.info?.user?.id === sessionData?.current?.id">{{translations?.common?.edit}}</button>
							<button mat-menu-item (click)="itemPlaylistOptions('addRemoveSession', data?.info, i)" *ngIf="data?.info?.user?.id === sessionData?.current?.id">{{data?.info?.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
							<button mat-menu-item (click)="itemPlaylistOptions('follow', data?.info, i)" *ngIf="data?.info?.user?.id !== sessionData?.current?.id">{{!data?.info?.followUnfollow ? translations?.common?.follow : translations?.common?.stopFollowing}}</button>
							<button mat-menu-item (click)="itemPlaylistOptions('addRemoveUser', data?.info, i)" *ngIf="data?.info?.user?.id !== sessionData?.current?.id">{{!data?.info?.addRemoveUser ? translations?.common?.clone : translations?.common?.remove}}</button>
							<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
							<button mat-menu-item (click)="itemPlaylistOptions('report', data?.info, i)">{{translations?.common?.report}}</button>
						</mat-menu>

						<mat-menu #menuShareSocial="matMenu">
							<button mat-menu-item (click)="itemPlaylistOptions('message', data?.info, i)"><i label="email" class="icon85"></i>{{translations?.common?.sendMessage}}</button>
							<button mat-menu-item (click)="itemPlaylistOptions('newTab', data?.info, i)"><i label="launch" class="icon85"></i>{{translations?.common?.openInNewTab}}</button>
							<button mat-menu-item (click)="itemPlaylistOptions('copyLink', data?.info, i)"><i label="copy" class="icon85"></i>{{translations?.common?.copyLink}}</button>
							<mat-divider></mat-divider>
							<button mat-menu-item (click)="itemPlaylistOptions('whatsapp', data?.info, i)"><i class="social" label="whatsapp"></i>Whatsapp</button>
							<button mat-menu-item (click)="itemPlaylistOptions('telegram', data?.info, i)"><i class="social" label="telegram"></i>Telegram</button>
							<button mat-menu-item (click)="itemPlaylistOptions('twitter', data?.info, i)"><i class="social" label="twitter"></i>Twitter</button>
							<button mat-menu-item (click)="itemPlaylistOptions('messenger', data?.info, i)"><i class="social" label="messenger"></i>Messenger</button>
							<button mat-menu-item (click)="itemPlaylistOptions('facebook', data?.info, i)"><i class="social" label="facebook"></i>Facebook</button>
							<button mat-menu-item (click)="itemPlaylistOptions('reddit', data?.info, i)"><i class="social" label="reddit"></i>Reddit</button>
						</mat-menu>
					</div>
				</div>
			</div>

			<div class="desc" *ngIf="!data.loadingData && data?.info?.description">
				{{data?.info?.description}}
			</div>

			<div class="container">
				<ul class="tracks" *ngIf="data.list.length > 0">
					<li *ngFor="let a of data.list; let i=index;" [ngClass]="{active: audioPlayerData.key == i && audioPlayerData.location == 'showPlaylist' && audioPlayerData.type == 'default', remove: a.addRemoveSession}">
						<div class="inner" *ngIf="!a.contentTypeAd">
							<div class="image">
								<button mat-icon-button (click)="playSong(data.list, a, i, 'default')">
									<i label="play" *ngIf="!a.playing || !(audioPlayerData.location == 'showPlaylist' && audioPlayerData.type == 'default')"></i>
									<i label="pause" *ngIf="a.playing && (audioPlayerData.location == 'showPlaylist' && audioPlayerData.type == 'default')"></i>
									<img [src]="a.image ? (env.pathAudios + 'thumbnails/' + a.image) : env.defaultSongCover"/>
								</button>
							</div>
							<div class="text" (click)="playSong(data.list, a, i, 'default')">
								<div class="titleArtist" title="{{a.original_title ? a.original_title : a.title}}">
									<div class="title">{{a.original_title ? a.original_title : a.title}}</div>
									<div class="artist">{{a.original_artist ? a.original_artist : a.title}}</div>
								</div>
								<div class="explicitDuration">
									<i label="explicit" class="icon65 grey" matTooltip="{{translations?.common?.explicit}}" *ngIf="a.explicit"></i>
									<div class="duration">{{a.duration}}</div>
								</div>
							</div>
							<div class="actions" *ngIf="sessionData?.current?.id">
								<button mat-icon-button [matMenuTriggerFor]="appMenu">
									<i class="icon85 blue" label="check" *ngIf="a.addRemoveUser"></i>
									<i class="icon85 grey" label="more" *ngIf="!a.addRemoveUser"></i>
								</button>

								<mat-menu #appMenu="matMenu">
									<button mat-menu-item (click)="itemSongOptions('addRemoveUser', a, null)">{{!a.addRemoveUser ? translations?.common?.add : translations?.common?.remove}}</button>
									<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">{{translations?.common?.addToPlaylist}}</button>
									<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
									<button mat-menu-item (click)="itemSongOptions('report', a, null)">{{translations?.common?.report}}</button>
								</mat-menu>

								<mat-menu #menuPlaylists="matMenu">
									<button mat-menu-item (click)="itemSongOptions('createPlaylist', a, null)"><i label="add"></i>{{translations?.common?.createPlaylist}}</button>
									<mat-divider *ngIf="sessionData?.current?.playlists?.length > 0"></mat-divider>
									<span *ngFor="let p of sessionData?.current?.playlists">
										<button mat-menu-item *ngIf="!p.removed" (click)="itemSongOptions('playlist', a, p)">
											<img [src]="p.image ? (env.pathAudios + 'covers/' + p.image) : env.defaultPlaylistCover">
											{{p.title}}
										</button>
									</span>
								</mat-menu>

								<mat-menu #menuShareSocial="matMenu">
									<button mat-menu-item (click)="itemSongOptions('message', a, null)"><i label="email" class="icon85"></i>{{translations?.common?.sendMessage}}</button>
									<button mat-menu-item (click)="itemSongOptions('newTab', a, null)"><i label="launch" class="icon85"></i>{{translations?.common?.openInNewTab}}</button>
									<button mat-menu-item (click)="itemSongOptions('copyLink', a, null)"><i label="copy" class="icon85"></i>{{translations?.common?.copyLink}}</button>
									<mat-divider></mat-divider>
									<button mat-menu-item (click)="itemSongOptions('whatsapp', a, null)"><i class="social" label="whatsapp"></i>Whatsapp</button>
									<button mat-menu-item (click)="itemSongOptions('telegram', a, null)"><i class="social" label="telegram"></i>Telegram</button>
									<button mat-menu-item (click)="itemSongOptions('twitter', a, null)"><i class="social" label="twitter"></i>Twitter</button>
									<button mat-menu-item (click)="itemSongOptions('messenger', a, null)"><i class="social" label="messenger"></i>Messenger</button>
									<button mat-menu-item (click)="itemSongOptions('facebook', a, null)"><i class="social" label="facebook"></i>Facebook</button>
									<button mat-menu-item (click)="itemSongOptions('reddit', a, null)"><i class="social" label="reddit"></i>Reddit</button>
								</mat-menu>
							</div>
						</div>

						<div class="ad" *ngIf="a.contentTypeAd">
							<div class="box" [innerHtml]="a.content"></div>
							<div class="disableAdBlock" *ngIf="hideAd">{{translations?.common?.disableAdBlock}}</div>
						</div>
					</li>
				</ul>

				<div class="loadingData" *ngIf="data.loadingData">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>

				<div class="noData" *ngIf="data.noData">
					<div class="image">
						<i class="icon150" label="music"></i>
					</div>
					<div class="description">{{translations?.audios?.noData}}</div>
				</div>

				<div class="recommendedPlaylists" *ngIf="recommendedPlaylists.list.length > 0 && !data.loadingData">
					<div class="boxTitle">
						{{translations?.common?.recommendedForYou}}
					</div>

					<ul class="playlists">
						<li *ngFor="let p of recommendedPlaylists.list; let i=index;">
							<a mat-ripple class="image" routerLink="/pl/{{p.name}}" target="popup" (click)="itemPlaylistOptions('show', p, i); false;">
								<div class="img" [ngStyle]="{'background-image': 'url(' + (p?.image?.length ? (env.pathAudios + 'covers/' + p.image) : env.defaultPlaylistCover) + ')'}"></div>
							</a>

							<div class="panel">
								<a class="title" routerLink="/pl/{{p.name}}" target="popup" (click)="itemPlaylistOptions('show', p, i); false;">
									{{p.title}}
								</a>

								<div class="actions" *ngIf="sessionData?.current?.id">
									<div class="category" *ngIf="p.explicit">
										<i label="explicit" class="icon65 grey" matTooltip="{{translations?.common?.explicit}}"></i>
									</div>

									<button mat-icon-button [matMenuTriggerFor]="appMenu">
										<i class="icon85 blue" label="check" *ngIf="p.addRemoveUser"></i>
										<i class="icon85 grey" label="more" *ngIf="!p.addRemoveUser"></i>
									</button>

									<mat-menu #appMenu="matMenu">
										<button mat-menu-item (click)="itemPlaylistOptions('edit', p, i)" *ngIf="p.user === sessionData?.current?.id">{{translations?.common?.edit}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('addRemoveSession', p, i)" *ngIf="p.user === sessionData?.current?.id">{{p.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('follow', p, i)" *ngIf="p.user !== sessionData?.current?.id">{{!p.followUnfollow ? translations?.common?.follow : translations?.common?.stopFollowing}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('addRemoveUser', p, i)" *ngIf="p.user !== sessionData?.current?.id">{{!p.addRemoveUser ? translations?.common?.clone : translations?.common?.remove}}</button>
										<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('report', p, i)">{{translations?.common?.report}}</button>
									</mat-menu>

									<mat-menu #menuShareSocial="matMenu">
										<button mat-menu-item (click)="itemPlaylistOptions('message', p, i)"><i label="email" class="icon85"></i>{{translations?.common?.sendMessage}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('newTab', p, i)"><i label="launch" class="icon85"></i>{{translations?.common?.openInNewTab}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('copyLink', p, i)"><i label="copy" class="icon85"></i>{{translations?.common?.copyLink}}</button>
										<mat-divider></mat-divider>
										<button mat-menu-item (click)="itemPlaylistOptions('whatsapp', p, i)"><i class="social" label="whatsapp"></i>Whatsapp</button>
										<button mat-menu-item (click)="itemPlaylistOptions('telegram', p, i)"><i class="social" label="telegram"></i>Telegram</button>
										<button mat-menu-item (click)="itemPlaylistOptions('twitter', p, i)"><i class="social" label="twitter"></i>Twitter</button>
										<button mat-menu-item (click)="itemPlaylistOptions('messenger', p, i)"><i class="social" label="messenger"></i>Messenger</button>
										<button mat-menu-item (click)="itemPlaylistOptions('facebook', p, i)"><i class="social" label="facebook"></i>Facebook</button>
										<button mat-menu-item (click)="itemPlaylistOptions('reddit', p, i)"><i class="social" label="reddit"></i>Reddit</button>
									</mat-menu>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
