<div class="dialogBox">
	<div mat-dialog-title class="header">
		<div class="left">
			<button mat-icon-button (click)="close()">
				<i label="back"></i>
			</button>

			<div class="text">
				{{translations?.audios?.playlist}}
			</div>
		</div>
	</div>

	<div mat-dialog-content class="bodyPlaylist">
		<div class="playlist">
			<div class="info" *ngIf="!data.loadingData">
				<div class="left">
					<div class="image">
						<img [src]="data?.current?.image ? (env.pathAudios + 'covers/' + data?.current?.image) : env.defaultPlaylistCover">
					</div>
				</div>

				<div class="right">
					<div class="title">
						{{data?.info?.title}}
					</div>

					<a class="subtitle" routerLink="/{{data?.info?.user?.username}}" *ngIf="data?.info?.user?.id">
						@{{data?.info?.user?.username}}
						<i class="icon50 blue" label="official" *ngIf="data?.info?.user?.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
					</a>

					<div class="subtitle" *ngIf="!data?.info?.user?.id">
						{{translations?.audios?.editorsChoice}}
					</div>

					<div class="button">
						<button mat-button (click)="playTrack('play')">
							<i label="pause" *ngIf="data.playing" class="icon85 white"></i>
							<i label="play" *ngIf="!data.playing" class="icon85 white"></i>
							{{data.playing ? translations?.audios?.pause : translations?.audios?.play}}
						</button>
					</div>
				</div>
			</div>

			<div class="desc" *ngIf="!data.loadingData && data?.info?.description">
				{{data?.info?.description}}
			</div>

			<div class="container">
				<ul class="tracks" *ngIf="data.list.length > 0">
					<li *ngFor="let x of data.list; let i=index;" [ngClass]="{active: audioPlayerData.key == i && audioPlayerData.location == 'playlist' && audioPlayerData.type == 'default', remove: x.addRemoveSession}">
						<div class="inner" *ngIf="!x.contentTypeAd">
							<div class="image">
								<button mat-icon-button (click)="playSong(data.list, x, i, 'default')">
									<i label="play" *ngIf="!x.playing || !(audioPlayerData.location == 'playlist' && audioPlayerData.type == 'default')"></i>
									<i label="pause" *ngIf="x.playing && (audioPlayerData.location == 'playlist' && audioPlayerData.type == 'default')"></i>
									<img [src]="x.image ? (env.pathAudios + 'thumbnails/' + x.image) : env.defaultSongCover"/>
								</button>
							</div>
							<div class="text" (click)="playSong(data.list, x, i, 'default')">
								<div class="titleArtist" title="{{x.original_title ? x.original_title : x.title}}">
									<div class="title">{{x.original_title ? x.original_title : x.title}}</div>
									<div class="artist">{{x.original_artist ? x.original_artist : x.title}}</div>
								</div>
								<div class="explicitDuration">
									<i label="explicit" class="icon65 grey" matTooltip="{{translations?.common?.explicit}}" *ngIf="x.explicit"></i>
									<div class="duration">{{x.duration}}</div>
								</div>
							</div>
							<div class="actions" *ngIf="sessionData?.current?.id">
								<span *ngIf="userData.id == sessionData?.current?.id">
									<button mat-icon-button [matMenuTriggerFor]="options">
										<i class="icon85 grey" label="more"></i>
									</button>
								</span>

								<span *ngIf="userData.id != sessionData?.current?.id">
									<button mat-icon-button [matMenuTriggerFor]="options">
										<i class="icon85 blue" label="check" *ngIf="x.addRemoveUser"></i>
										<i class="icon85 grey" label="more" *ngIf="!x.addRemoveUser"></i>
									</button>
								</span>

								<mat-menu #options="matMenu">
									<button mat-menu-item (click)="itemSongOptions('addRemoveUser', x, null)" *ngIf="userData.id !== sessionData?.current?.id">{{!x.addRemoveUser ? translations?.common?.add : translations?.common?.remove}}</button>
									<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">{{translations?.common?.addToPlaylist}}</button>
									<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
									<button mat-menu-item (click)="itemSongOptions('report', x, null)">{{translations?.common?.report}}</button>
									<mat-divider *ngIf="userData.id === sessionData?.current?.id && !(data.current.type === 'follow')"></mat-divider>
									<button mat-menu-item (click)="itemSongOptions('addRemoveSession', x, null)" *ngIf="userData.id === sessionData?.current?.id && !(data.current.type === 'follow')">{{x.addRemoveSession ? translations?.common?.add : translations?.common?.remove}}</button>
								</mat-menu>

								<mat-menu #menuPlaylists="matMenu">
									<button mat-menu-item (click)="itemSongOptions('createPlaylist', x, null)">{{translations?.common?.createPlaylist}}</button>
									<mat-divider *ngIf="sessionData?.current?.playlists?.length"></mat-divider>
									<span *ngFor="let p of sessionData?.current?.playlists">
										<button mat-menu-item *ngIf="!p.removed" (click)="itemSongOptions('playlist', x, p)">
											<img [src]="p.image ? (env.pathAudios + 'covers/' + p.image) : env.defaultPlaylistCover">
											{{p.title}}
										</button>
									</span>
								</mat-menu>

								<mat-menu #menuShareSocial="matMenu">
									<button mat-menu-item (click)="itemSongOptions('message', x, null)">{{translations?.common?.sendMessage}}</button>
									<button mat-menu-item (click)="itemSongOptions('newTab', x, null)">{{translations?.common?.openInNewTab}}</button>
									<button mat-menu-item (click)="itemSongOptions('copyLink', x, null)">{{translations?.common?.copyLink}}</button>
								</mat-menu>
							</div>
						</div>

						<div class="ad" *ngIf="x.contentTypeAd">
							<div class="box" [innerHtml]="x.content"></div>
							<div class="disableAdBlock" *ngIf="hideAd">{{translations?.common?.disableAdBlock}}</div>
						</div>
					</li>
				</ul>

				<div class="loadingData" *ngIf="data.loadingData">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>

				<div class="noData" *ngIf="data.noData">
					<div class="description">{{translations?.audios?.noData}}</div>
				</div>

				<div class="recommendedPlaylists" *ngIf="recommendedPlaylists.list.length > 0 && !data.loadingData">
					<div class="boxTitle">
						{{translations?.common?.recommendedForYou}}
					</div>

					<ul class="playlists">
						<li *ngFor="let x of recommendedPlaylists.list; let i=index;">
							<a mat-ripple class="image" routerLink="/pl/{{x.name}}" target="popup" (click)="itemPlaylistOptions('show', x, i); false;">
								<div class="img" [ngStyle]="{'background-image': 'url(' + (x?.image?.length ? (env.pathAudios + 'covers/' + x.image) : env.defaultPlaylistCover) + ')'}"></div>
							</a>

							<div class="panel">
								<a class="title" routerLink="/pl/{{x.name}}" target="popup" (click)="itemPlaylistOptions('show', x, i); false;">
									{{x.title}}
								</a>

								<div class="actions" *ngIf="sessionData?.current?.id">
									<div class="category" *ngIf="x.explicit">
										<i label="explicit" class="icon65 grey" matTooltip="{{translations?.common?.explicit}}"></i>
									</div>

									<button mat-icon-button [matMenuTriggerFor]="appMenu">
										<i class="icon85 blue" label="check" *ngIf="x.addRemoveUser"></i>
										<i class="icon85 grey" label="more" *ngIf="!x.addRemoveUser"></i>
									</button>

									<mat-menu #appMenu="matMenu">
										<button mat-menu-item (click)="itemPlaylistOptions('addRemoveUser', x, i)">{{!x.addRemoveUser ? translations?.common?.clone : translations?.common?.remove}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('follow', x, i)">{{!x.followUnfollow ? translations?.common?.follow : translations?.common?.stopFollowing}}</button>
										<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('report', x, i)">{{translations?.common?.report}}</button>
									</mat-menu>

									<mat-menu #menuShareSocial="matMenu">
										<button mat-menu-item (click)="itemPlaylistOptions('message', x, i)">{{translations?.common?.sendMessage}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('newTab', x, i)">{{translations?.common?.openInNewTab}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('copyLink', x, i)">{{translations?.common?.copyLink}}</button>
									</mat-menu>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
