<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageFollowing">
			<div class="content">
				<div class="back" (click)="goBack()">
					<button mat-icon-button>
						<i label="back"></i>
					</button>
					<div class="text">{{translations?.common?.back}}</div>
				</div>

				<div class="pageTitle">{{translations?.following?.title}}</div>

				<span *ngIf="!deniedAccessOnlySession">
					<div class="searchBox" *ngIf="((userData.private && userData.status == 'following') || !userData.private || userData.status == 'following' || (userData.id == sessionData.current.id))">
						<div class="box">
							<form [formGroup]="actionFormSearch" (ngSubmit)="search('send')">
								<div class="inner">
									<i class="icon85 grey" label="search"></i>
									<input type="text" placeholder="{{translations?.common?.search}}" formControlName="caption">
									<button mat-icon-button type="button" *ngIf="actionFormSearch.controls.caption.value.length > 0" (click)="search('clear')">
										<i class="icon85 grey" label="close"></i>
									</button>
								</div>
							</form>
						</div>
					</div>

					<span *ngIf="data.active == 'default'">
						<span *ngIf="((userData.private && userData.status == 'following') || !userData.private || userData.status == 'following' || (userData.id == sessionData.current.id))">
							<ul class="followers" *ngIf="dataDefault.list">
								<li *ngFor="let x of dataDefault.list; let i=index;">
									<a class="avatar" routerLink="/{{x.user.username}}">
										<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
									</a>

									<div class="texts">
										<div class="text">
											<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
											<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
										</div>

										<div class="text">
											{{x.user.name}}
										</div>
									</div>

									<div class="actions" *ngIf="x.user.id != sessionData.current.id">
										<button mat-button class="active" *ngIf="x.status == 'unfollow'" (click)="followUnfollow('follow', x)">
											{{translations?.common?.follow}}
										</button>

										<button mat-button class="pending" *ngIf="x.status == 'pending'" [matMenuTriggerFor]="cancelRequest">
											{{translations?.common?.pending}}
										</button>

										<button mat-button *ngIf="x.status == 'following'" [matMenuTriggerFor]="stopFollowing">
											{{translations?.common?.following}}
										</button>

										<mat-menu #cancelRequest="matMenu" yPosition="below" xPosition="before" class="removeBox">
											<div class="text">
												{{translations?.common?.cancelRequest}}
											</div>
											<div class="buttons">
												<button mat-menu-item>{{translations?.common?.no}}</button>
												<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
											</div>
										</mat-menu>

										<mat-menu #stopFollowing="matMenu" yPosition="below" xPosition="before" class="removeBox">
											<div class="text">
												{{translations?.common?.stopFollowing}}
												<br>
												{{x.user.username}}?
											</div>
											<div class="buttons">
												<button mat-menu-item>{{translations?.common?.no}}</button>
												<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
											</div>
										</mat-menu>
									</div>
								</li>
							</ul>

							<div class="loadingData" *ngIf="dataDefault.loadingData">
								<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
							</div>

							<div class="noData" *ngIf="dataDefault.noData">
								<div class="description">{{translations?.following?.noData}}</div>
							</div>
							
							<div class="loadMore" *ngIf="dataDefault.loadMoreData">
								<button mat-fab (click)="default('more', null)" *ngIf="!dataDefault.loadingMoreData">
									<i label="add"></i>
								</button>
								<mat-progress-spinner mode="indeterminate" *ngIf="dataDefault.loadingMoreData"></mat-progress-spinner>
							</div>
						</span>

						<span *ngIf="!((userData.private && userData.status == 'following') || !userData.private || userData.status == 'following' || (userData.id == sessionData.current.id))">
							<div class="noData">
								<div class="description">{{translations?.common?.privateAccount}}</div>
							</div>
						</span>
					</span>

					<span *ngIf="data.active == 'search'">
						<ul class="followers" *ngIf="dataSearch.list">
							<li *ngFor="let x of dataSearch.list; let i=index;">
								<a class="avatar" routerLink="/{{x.user.username}}">
									<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
								</a>

								<div class="texts">
									<div class="text">
										<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
										<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
									</div>

									<div class="text">
										{{x.user.name}}
									</div>
								</div>

								<div class="actions" *ngIf="x.user.id != sessionData.current.id">
									<button mat-button class="active" *ngIf="x.status == 'unfollow'" (click)="followUnfollow('follow', x)">
										{{translations?.common?.follow}}
									</button>

									<button mat-button class="pending" *ngIf="x.status == 'pending'" [matMenuTriggerFor]="cancelRequest">
										{{translations?.common?.pending}}
									</button>

									<button mat-button *ngIf="x.status == 'following'" [matMenuTriggerFor]="stopFollowing">
										{{translations?.common?.following}}
									</button>

									<mat-menu #cancelRequest="matMenu" yPosition="below" xPosition="before" class="removeBox">
										<div class="text">
											{{translations?.common?.cancelRequest}}
										</div>
										<div class="buttons">
											<button mat-menu-item>{{translations?.common?.no}}</button>
											<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
										</div>
									</mat-menu>

									<mat-menu #stopFollowing="matMenu" yPosition="below" xPosition="before" class="removeBox">
										<div class="text">
											{{translations?.common?.stopFollowing}}
											<br>
											{{x.user.username}}?
										</div>
										<div class="buttons">
											<button mat-menu-item>{{translations?.common?.no}}</button>
											<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
										</div>
									</mat-menu>
								</div>
							</li>
						</ul>

						<div class="loadingData" *ngIf="dataSearch.loadingData">
							<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
						</div>

						<div class="noData" *ngIf="dataSearch.noData">
							<div class="description">{{translations?.common?.noSearchResults}}</div>
						</div>
						
						<div class="loadMore" *ngIf="dataSearch.loadMoreData">
							<button mat-fab (click)="search('more')" *ngIf="!dataSearch.loadingMoreData">
								<i label="add"></i>
							</button>
							<mat-progress-spinner mode="indeterminate" *ngIf="dataSearch.loadingMoreData"></mat-progress-spinner>
						</div>
					</span>
				</span>

				<span *ngIf="deniedAccessOnlySession">
					<div class="noData">
						<div class="description">{{translations?.common?.createAnAccountToSeeContent}}</div>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
