<div class="pageHomeBox" *ngIf="activeSessionStatus">
	<div class="left">
		<div class="text">
			Be the one.
		</div>

		<div class="footer" *ngIf="activeSessionStatus">
			<div class="copyright">
				{{environment.copyright}}
			</div>

			<div class="divider"></div>
			
			<ul>
				<li>
					<a routerLink="/about">About</a>
				</li>
				<li>
					<a routerLink="/privacy">Privacy</a>
				</li>
				<li>
					<a routerLink="/support">Support</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="right">
		<div class="inner">
			<div class="logo">
				<div class="image"></div>
			</div>

			<div class="form">
				<div class="error" *ngIf="errorMessage">
					{{errorMessageContent}}
				</div>

				<form [formGroup]="actionForm" (ngSubmit)="submit($event)">
					<mat-form-field>
						<input autofocus type="email" matInput placeholder="Email" #Email maxlength="100"  formControlName="email">
					</mat-form-field>

					<mat-form-field>
						<input type="{{showPassword ? 'text' : 'password'}}" matInput placeholder="Password" #Password maxlength="100"  formControlName="password">
						<button mat-button matSuffix mat-icon-button type="button" class="noLength" *ngIf="Password.value.length > 0" (click)="showPassword=!showPassword" tabindex="-1">
							<i [ngClass]="{'show': showPassword}" label="visibility"></i>
						</button>
					</mat-form-field>

					<div class="buttons">
						<button mat-raised-button type="submit">
							<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
							Sign in
						</button>

						<div class="forgot">
							<a routerLink="/forgot-password">
								Forgot password?
							</a>
						</div>

						<div class="create">
							Don't have an account?
							<a routerLink="/signup">
								Sign up
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>