<div class="pageHomeBox {{randColor}}" *ngIf="activeSessionStatus">
	<div class="left">
		<div class="top">
			<div class="image">
				<i label="no-posts"></i>
			</div>
			<div class="text">
				<div class="counter" #textCounterEffect></div>
			</div>
		</div>

		<div class="bottom">
			<div class="song" *ngIf="!dataDefault?.noData" [ngClass]="{active: audioPlayerData.key == 0 && audioPlayerData.location == 'home' && audioPlayerData.type == 'default', default: !dataDefault?.data?.image}">
				<div mat-ripple class="songInner">
					<div class="songImage">
						<button mat-icon-button (click)="playSong(dataDefault?.data, dataDefault?.data, 0, 'default')">
							<i label="play" *ngIf="!dataDefault?.data?.playing || !(audioPlayerData.location == 'home' && audioPlayerData.type == 'default')"></i>
							<i label="pause" *ngIf="dataDefault?.data?.playing && (audioPlayerData.location == 'home' && audioPlayerData.type == 'default')"></i>
							<img [src]="dataDefault?.image ? (env.pathAudios + 'thumbnails/' + dataDefault?.image) : env.defaultSongCover"/>
						</button>
					</div>

					<div class="songText" (click)="playSong(dataDefault?.data, dataDefault?.data, 0, 'default')">
						<div class="titleArtist" title="{{dataDefault?.data?.original_title ? dataDefault?.data?.original_title : dataDefault?.data?.title}}">
							<div class="title">{{dataDefault?.data?.original_title ? dataDefault?.data?.original_title : dataDefault?.data?.title}}</div>
							<div class="artist">{{dataDefault?.data?.original_artist ? dataDefault?.data?.original_artist : dataDefault?.data?.title}}</div>
						</div>
						<div class="duration">{{dataDefault?.data?.duration}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="copyright">
				{{env.copyright}}
			</div>

			<div class="divider"></div>

			<ul>
				<li>
					<a routerLink="/about">{{translations?.about?.title}}</a>
				</li>
				<li>
					<a routerLink="/privacy">{{translations?.privacy?.title}}</a>
				</li>
				<li>
					<a routerLink="/support">{{translations?.support?.title}}</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="right">
		<div class="inner">
			<div class="logo">
				<i label="logo" class="icon200"></i>
			</div>

			<div class="form">
				<div class="error" *ngIf="errorMessage" (click)="errorMessage = false">
					{{errorMessageContent}}
				</div>

				<form [formGroup]="actionForm" (ngSubmit)="submit($event)">
					<mat-form-field appearance="outline" class="homeBox">
						<mat-label>{{translations?.signIn?.usernameEmail}}</mat-label>
						<input autofocus type="email" matInput #Email maxlength="100" formControlName="email">
					</mat-form-field>

					<mat-form-field appearance="outline" class="homeBox">
						<mat-label>{{translations?.signIn?.password}}</mat-label>
						<input type="{{showPassword ? 'text' : 'password'}}" matInput #Password maxlength="100" formControlName="password">
						<button mat-button matSuffix mat-icon-button type="button" class="noLength" (click)="showPassword=!showPassword" tabindex="-1">
							<i class="icon75 grey" [ngClass]="{'active': showPassword}" label="visibility"></i>
						</button>
					</mat-form-field>

					<div class="buttons">
						<button mat-raised-button type="submit" [disabled]="submitLoading">
							<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
							{{translations?.common?.signIn}}
						</button>

						<div class="forgot">
							<a routerLink="/forgot-password">
								{{translations?.common?.forgotPassword}}
							</a>
						</div>

						<div class="create" routerLink="/signup">
							{{translations?.home?.dontHaveAnAccount}}
							<a routerLink="/signup">
								{{translations?.main?.createAccount?.three}}
							</a>
						</div>
					</div>

					<div class="socialButtons">
						<div class="or">or</div>

						<button class="facebook" mat-raised-button type="button" (click)="socialLogin('facebook')">
							<img src="./assets/images/facebook_login.png">
							Continue with Facebook
						</button>

						<button class="google" mat-raised-button type="button" id="googleSignIn">
							<img src="./assets/images/google_login.png">
							Continue with Google
						</button>
					</div>
				</form>
			</div>

			<div class="footer">
				<ul>
					<li>
						<a routerLink="/about">{{translations?.about?.title}}</a>
					</li>
					<li>
						<a routerLink="/privacy">{{translations?.privacy?.title}}</a>
					</li>
					<li>
						<a routerLink="/support">{{translations?.support?.title}}</a>
					</li>
				</ul>

				<div class="copyright">
					{{env.copyright}}
				</div>

				<div class="lang">
					<button mat-raised-button [matMenuTriggerFor]="langs">
						{{translations?.common?.langText}}
						<i label="arrow-mini-line"></i>
					</button>
				</div>

				<mat-menu #langs="matMenu">
					<button mat-menu-item (click)="setLang(1)">{{translations?.settings?.english}}</button>
					<button mat-menu-item (click)="setLang(2)">{{translations?.settings?.spanish}}</button>
					<button mat-menu-item (click)="setLang(3)">{{translations?.settings?.russian}}</button>
				</mat-menu>
			</div>
		</div>
	</div>
</div>