<div class="dialogBox">
	<div mat-dialog-title class="header">
		<div class="left">
			<button mat-icon-button (click)="close()">
				<i label="back"></i>
			</button>

			<div class="text">
				{{translations?.main?.newPublication}}
			</div>
		</div>

		<div class="right">
			<button mat-button type="submit" (click)="submit()" [disabled]="submitLoading">
				<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
				{{translations?.common?.create}}
			</button>
		</div>
	</div>

	<div mat-dialog-content class="bodyCreatePublication">
		<div class="container">
			<div class="form">
				<div class="richPublication">
					<div class="highlights" [innerHTML]="publicationData.transformed"></div>
					<div class="origin" contenteditable="plaintext-only" name="publication" spellcheck="true" role="textbox" aria-multiline="true" dir="ltr" aria-autocomplete="list" aria-expanded="false" [textContent]="publicationData.onBackground" (input)="writingChanges($event.target.innerText)" (keyup)="checkKeyCode($event)" (keydown)="checkKeyCode($event)" (mouseup)="checkKeyCode($event)"></div>
				</div>

				<div class="searchBoxMentions" *ngIf="searchBoxMentions">
					<ul>
						<li mat-ripple *ngFor="let x of searchMentionsData" (click)="addSearchedMention(x)">
							<div class="avatar">
								<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
							</div>
							<div class="text">
								<div class="username">@{{x.user.username}}</div>
								<div class="name">{{x.user.name}}</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="filesBox">
					<div class="counter" *ngIf="data.photosArray.length > 0" [ngClass]="{'warning': data.photosArray.length > 10}">{{translations?.photos?.title}} {{data.photosArray.length}}/10</div>

					<ul class="photos" *ngIf="data.photosArray.length > 0">
						<li mat-ripple *ngFor="let x of data.photosArray; let i = index;">
							<div class="image">
								<div class="img" [ngStyle]="{'background-image': 'url(' + env.pathPhotos + 'thumbnails/' + x.up_name + ')'}"></div>

								<div class="close" (click)="toggleItemPhoto(x, i)">
									<i label="close"></i>
								</div>

								<div class="category">
									<i label="cloud-upload"></i>
									<div class="size" *ngIf="x.sizeBig">{{x.sizeBig}}</div>
									<div class="size" matTooltip="{{translations?.common?.invalidFile}}" *ngIf="x.category === 'unknown'">
										{{translations?.common?.invalidFile}}
									</div>
								</div>

								<div class="status">
									<div class="progress" *ngIf="x.status=='progress'">
										<mat-progress-spinner mode="determinate" [value]="x.progress"></mat-progress-spinner>
										<div class="value">{{x.progress}}%</div>
									</div>
									<button mat-icon-button *ngIf="x.status=='error'">
										<i label="cloud-off"></i>
									</button>
									<button mat-icon-button *ngIf="x.status=='completed'">
										<i label="add" *ngIf="!x.selected"></i>
										<i label="check" *ngIf="x.selected"></i>
									</button>
								</div>
							</div>
						</li>
					</ul>

					<div class="counter" *ngIf="data.audiosArray.length > 0" [ngClass]="{'warning': data.audiosArray.length > 10}">{{translations?.audios?.title}} {{data.audiosArray.length}}/10</div>

					<ul class="tracks" *ngIf="data.audiosArray">
						<li *ngFor="let x of data.audiosArray; let i=index;" [ngClass]="{active: audioPlayerData.key == i && audioPlayerData.location == 'newPublication' && audioPlayerData.type == 'default', remove: x.addRemoveSession}">
							<div mat-ripple class="inner" *ngIf="!x.contentTypeAd">
								<div class="image">
									<button mat-icon-button (click)="playSong(data.audiosArray, x, i, 'default')">
										<i label="cloud-upload" *ngIf="x.id === 0"></i>
										<span *ngIf="x.id !== 0">
											<i label="play" *ngIf="!x.playing || !(audioPlayerData.location == 'newPublication' && audioPlayerData.type == 'default')"></i>
											<i label="pause" *ngIf="x.playing && (audioPlayerData.location == 'newPublication' && audioPlayerData.type == 'default')"></i>
										</span>
										<img [src]="x.image ? (env.pathAudios + 'thumbnails/' + x.image) : env.defaultSongCover"/>
									</button>
								</div>

								<div class="text" (click)="playSong(data.audiosArray, x, i, 'default')">
									<div class="titleArtist" title="{{x.original_title ? x.original_title : x.title}}">
										<div class="title">{{x.original_title ? x.original_title : x.title}}</div>
										<div class="artist">{{x.original_artist ? x.original_artist : x.title}}</div>
									</div>
									<div class="explicitDuration">
										<i label="explicit" class="icon65 grey" matTooltip="{{translations?.common?.explicit}}" *ngIf="x.explicit"></i>
										<div class="duration">{{x.duration}}</div>
									</div>
								</div>

								<div class="actions" *ngIf="sessionData?.current?.id">
									<button mat-icon-button (click)="toggleItem('audios', x)">
										<i label="check"></i>
									</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div mat-dialog-actions class="buttons post">
		<div class="panel">
			<button mat-mini-fab type="button" (click)="uploadFile.click()" matTooltip="photos">
				<i label="camera" class="blue"></i>
			</button>
			<input type='file' hidden #uploadFile name='fileUpload[]' multiple (change)="uploadFiles(1, $event)" accept=".jpg, .jpeg, .png, .gif, .bmp, .tiff, image/jpeg, image/png, image/gif, image/heic, image/heif, image/webp, video/*, .avi, .mp4, .3gp, .mpeg, .mov, .flv, .f4v, .wmv, .mkv, .webm, .vob, .rm, .rmvb, .m4v, .mpg, .ogv, .ts, .m2ts, .mts, .mxf">

			<button mat-mini-fab type="button" (click)="openAudios()" matTooltip="audios">
				<i label="music" class="blue"></i>
			</button>
		</div>

		<div class="actions">
			<button mat-raised-button type="button" (click)="close()">
				{{translations?.common?.cancel}}
			</button>
			<button mat-raised-button type="submit" (click)="submit()" [disabled]="submitLoading">
				<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
				{{translations?.common?.create}}
			</button>
		</div>
	</div>
</div>
