<div class="dialogBox">
	<div mat-dialog-title class="header headerMobile">
		<div class="back">
			<button mat-icon-button (click)="close()">
				<i label="back"></i>
			</button>
		</div>
		<div class="text">
			{{data.comeFrom == 'publications' ? translations.news : translations.notifications}}
		</div>
	</div>

	<div mat-dialog-content class="bodyPublications">
		<div class="container" *ngIf="!notExists">
			<div class="left" [ngClass]="{'remove': data.current.addRemoveSession}">
				<div class="user">
					<a class="avatar" routerLink="/{{userData.username}}">
						<img [src]="userData.avatar ? userData.avatarUrl : environment.avatar"/>
					</a>
					<div class="text">
						<a class="name" routerLink="/{{userData.username}}">
							<span class="username">
								{{userData.username}}
								<i label="official" *ngIf="userData.official" matTooltip="{{translations.verifiedAccount}}"></i>
							</span>
							<span class="date">{{data.current.date | timeago}}</span>
						</a>
					</div>
					<div class="actions" *ngIf="sessionData.current.id">
						<button mat-icon-button [matMenuTriggerFor]="options">
							<i label="more"></i>
						</button>
						<mat-menu #options="matMenu">
							<button mat-menu-item (click)="itemOptions('remove', data.current)" *ngIf="userData.id == sessionData.current.id">{{data.current.addRemoveSession ? translations.restore : translations.remove}}</button>
							<button mat-menu-item (click)="itemOptions('disableComments', data.current)" *ngIf="userData.id == sessionData.current.id">{{data.current.disabledComments ? translations.disableComments : translations.enableComments}}</button>
							<button mat-menu-item (click)="itemOptions('report', data.current)">{{translations.report}}</button>
							<button mat-menu-item (click)="itemOptions('close', null)">{{translations.close}}</button>
						</mat-menu>
					</div>
				</div>
				
				<div class="urlVideo" *ngIf="data.current.urlVideo && !data.current.photos">
					<div class="inner">
						<div class="embedResponsive">
							<div class="image" (click)="data.current.urlVideo.showVideo=!data.current.urlVideo.showVideo" *ngIf="!data.current.urlVideo.showVideo">
								<div class="img" [ngStyle]="{'background-image': 'url(' + data.current.urlVideo.thumbnail + ')'}"></div>
								<div class="play">
									<i label="play"></i>
								</div>
								<div class="type">
									{{data.current.urlVideo.type}}
								</div>
							</div>
							<span [innerHtml]="data.current.urlVideo.iframe | safeHtml" *ngIf="data.current.urlVideo.showVideo"></span>
						</div>
					</div>
				</div>

				<div class="photos" *ngIf="data.current.photos">
					<span *ngIf="data.current.photos.length == 1">
						<img *ngIf="data.current.photos[0].mimetype.indexOf('image') !== -1" [src]="environment.pathPhotos + data.current.photos[0].name">

						<video *ngIf="data.current.photos[0].mimetype.indexOf('video') !== -1" #videoPlayer width="100%" height="auto" poster="{{environment.pathVideos + 'thumbnails/' + data.current.photos[0].name}}">
							<source src="{{environment.pathVideos + data.current.photos[0].name.split('.')[0] + '.mp4'}}" type="video/mp4">
						</video>

						<span *ngIf="data.current.photos[0].mimetype.indexOf('video') !== -1">
							<div class="playPause" (click)="playVideo('play')" *ngIf="!data.current.playButton">
								<i label="play"></i>
							</div>
						</span>
					</span>

					<swiper *ngIf="data.current.photos.length > 1" [config]="swiperConfig">
						<div class="swiper-wrapper">
							<div class="swiper-slide" *ngFor="let p of data.current.photos">
								<div class="slide">
									<div class="image">
										<div class="img" *ngIf="p.mimetype.indexOf('image') !== -1" [ngStyle]="{'background-image': 'url(' + environment.pathPhotos + p.name + ')'}"></div>
										
										<video *ngIf="p.mimetype.indexOf('video') !== -1" width="100%" height="auto" poster="{{environment.pathVideos + 'thumbnails/' + p.name}}" preload="yes" controls="true">
											<source src="{{environment.pathVideos + p.name.split('.')[0] + '.mp4'}}" type="video/mp4">
										</video>

										<span *ngIf="p.mimetype.indexOf('video') !== -1">
											<div class="playPause" (click)="playVideo('play')" *ngIf="!p.playButton">
												<i label="play"></i>
											</div>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="swiper-pagination"></div>
						
						<div class="swiperNext" mat-ripple>
							<i label="keyboard-arrow-right"></i>
						</div>
						<div class="swiperPrev" mat-ripple>
							<i label="keyboard-arrow-left"></i>
						</div>
					</swiper>
				</div>
			</div>

			<div class="right">
				<div class="box">
					<div class="panel">
						<div class="user">
							<a class="avatar" routerLink="/{{userData.username}}">
								<img [src]="userData.avatar ? userData.avatarUrl : environment.avatar"/>
							</a>
							<div class="text">
								<a class="name" routerLink="/{{userData.username}}">
									<span class="username">
										{{userData.username}}
										<i label="official" *ngIf="userData.official" matTooltip="{{translations.verifiedAccount}}"></i>
									</span>
									<span class="date">{{data.current.date | timeago}}</span>
								</a>
							</div>
							<div class="actions" *ngIf="sessionData.current.id">
								<button mat-icon-button [matMenuTriggerFor]="options">
									<i label="more"></i>
								</button>
								<mat-menu #options="matMenu">
									<button mat-menu-item (click)="itemOptions('remove', data.current)" *ngIf="userData.id == sessionData.current.id">{{data.current.addRemoveSession ? translations.restore : translations.remove}}</button>
									<button mat-menu-item (click)="itemOptions('disableComments', data.current)" *ngIf="userData.id == sessionData.current.id">{{data.current.disabledComments ? translations.disableComments : translations.enableComments}}</button>
									<button mat-menu-item (click)="itemOptions('report', data.current)">{{translations.report}}</button>
									<button mat-menu-item (click)="itemOptions('close', null)">{{translations.close}}</button>
								</mat-menu>
							</div>
						</div>

						<div class="textContainer" *ngIf="data.current.content" [innerHTML]="data.current.content | safeHtml"></div>

						<div class="urlVideo" *ngIf="data.current.urlVideo && data.current.photos">
							<div class="inner">
								<div class="embedResponsive">
									<div class="image" (click)="data.current.urlVideo.showVideo=!data.current.urlVideo.showVideo" *ngIf="!data.current.urlVideo.showVideo">
										<div class="img" [ngStyle]="{'background-image': 'url(' + data.current.urlVideo.thumbnail + ')'}"></div>
										<div class="play">
											<i label="play"></i>
										</div>
										<div class="type">
											{{data.current.urlVideo.type}}
										</div>
									</div>
									<span [innerHtml]="data.current.urlVideo.iframe | safeHtml" *ngIf="data.current.urlVideo.showVideo"></span>
								</div>
							</div>
						</div>

						<div class="audios" *ngIf="data.current.audios">
							<ul class="tracks">
								<li *ngFor="let a of data.current.audios; let i=index;" [ngClass]="{active: audioPlayerData.key == i && audioPlayerData.type == 'publication' && audioPlayerData.postId == data.current.id, default: !a.image}">
									<div class="inner">
										<div class="image">
											<button mat-icon-button (click)="playItem(data.current, a, i, 'publication')">
												<i label="play" *ngIf="!a.playing || !(audioPlayerData.postId == data.current.id)"></i>
												<i label="pause" *ngIf="a.playing && (audioPlayerData.postId == data.current.id)"></i>
												<img *ngIf="a.image" [src]="environment.pathAudios + 'thumbnails/' + a.image"/>
											</button>
										</div>
										<div class="text" (click)="playItem(data.current, a, i, 'publication')">
											<div class="titleArtist" title="{{a.original_title ? a.original_title : a.title}}">
												<div class="title">{{a.original_title ? a.original_title : a.title}}</div>
												<div class="artist">{{a.original_artist ? a.original_artist : a.title}}</div>
											</div>
											<div class="duration">{{a.duration}}</div>
										</div>
										<div class="actions" *ngIf="sessionData.current.id">
											<button mat-icon-button [matMenuTriggerFor]="appMenu">
												<i label="check" *ngIf="a.addRemoveUser"></i>
												<i label="more" *ngIf="!a.addRemoveUser"></i>
											</button>
											<mat-menu #appMenu="matMenu">
												<button mat-menu-item (click)="itemAudiosOptions('addRemoveUser', a, null)">{{!a.addRemoveUser ? translations.add : translations.remove}}</button>
												<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">{{translations.addToPlaylist}}</button>
												<button mat-menu-item (click)="itemAudiosOptions('report', a, null)">{{translations.report}}</button>
											</mat-menu>
											<mat-menu #menuPlaylists="matMenu">
												<button mat-menu-item (click)="itemAudiosOptions('createPlaylist', null, null)">{{translations.createPlaylist}}</button>
												<span *ngFor="let p of sessionData.current.playlists">
													<button mat-menu-item *ngIf="!p.removed" (click)="itemAudiosOptions('playlist', a, p)">{{p.title}}</button>
												</span>
											</mat-menu>
										</div>
									</div>
								</li>
							</ul>
						</div>

						<div class="analytics">
							<div class="buttonBox">
								<button mat-icon-button (click)="showComments('showHide', data.current)">
									<i label="analytics-comments"></i>
								</button>
							</div>
							
							<div class="buttonBox">
								<button mat-icon-button (click)="likeUnlike(data.current)">
									<i label="analytics-like" [ngClass]="{'active' : data.current.liked}"></i>
								</button>
								{{data.current.countLikes}}
							</div>

							<a class="likers" *ngIf="data.current.countLikes > 0" (click)="showLikes(data.current)">
								<span *ngFor="let l of data.current.likers; let isLast = last">
									{{l.username}}{{isLast ? '' : ', '}}
								</span>
								{{data.current.countLikes <= 2 ? translations.likedThis : translations.andMoreLikedThis}}
							</a>

							<div class="buttonBox bookmark">
								<button mat-icon-button (click)="markUnmark(data.current)">
									<i label="analytics-bookmark" [ngClass]="{'active' : data.current.bookmark.checked}"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="boxComments" *ngIf="isMobileScreen ? data.current.showCommentsBox : !data.current.showCommentsBox">
						<div class="comments" *ngIf="data.current.disabledComments">
							<div class="countComments">
								{{data.current.countComments}} 
								{{translations.comments}}
							</div>

							<div class="new" *ngIf="sessionData.current.id">
								<div class="avatar">
									<img [src]="sessionData.current.avatar ? sessionData.current.avatarUrl : environment.avatar"/>
								</div>
								<div class="richComment">
									<div class="highlights" [innerHTML]="data.current.newCommentData.transformed"></div>
									<div class="origin" contenteditable="plaintext-only" [textContent]="data.current.newCommentData.onBackground" (input)="newComment('writingChanges', $event.target.innerText, data.current)" (keyup)="newComment('keyCode', $event, data.current)" (keydown)="newComment('keyCode', $event, data.current)" (mouseup)="newComment('keyCode', $event, data.current)"></div>
								</div>
								<div class="actions">
									<button mat-icon-button type="submit" (click)="newComment('create', $event, data.current)">
										<i label="send-comment"></i>
									</button>
								</div>
							</div>

							<ul>
								<li *ngFor="let c of data.current.comments.list" [ngClass]="{'remove': c.addRemove}">
									<a class="avatar" routerLink="/{{c.user.username}}">
										<img [src]="c.user.avatar ? c.user.avatarUrl : environment.avatar"/>
									</a>
									<div class="text">
										<div class="name">
											<a class="username" routerLink="/{{c.user.username}}">{{c.user.username}}</a>
											<span class="date">{{c.date | timeago}}</span>
											<div class="actions" *ngIf="sessionData.current.id">
												<button mat-icon-button [matMenuTriggerFor]="optionsComments">
													<i label="more"></i>
												</button>
												<mat-menu #optionsComments="matMenu">
													<button mat-menu-item (click)="commentsOptions('addRemove', data.current, c)" *ngIf="c.user.id == sessionData.current.id">{{c.addRemove ? translations.restore : translations.remove}}</button>
													<button mat-menu-item (click)="commentsOptions('report', data.current, c)">{{translations.report}}</button>
												</mat-menu>
											</div>
										</div>
										<div class="container">
											<span [innerHtml]="c.comment | safeHtml"></span>
										</div>
									</div>
								</li>
							</ul>

							<div class="loadingData" *ngIf="data.current.loadingData">
								<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
							</div>
							<div class="noData" *ngIf="data.current.noData">
								{{translations.noComments}}
							</div>
							<div class="loadMore" *ngIf="data.current.loadMoreData">
								<button mat-fab (click)="defaultComments('more', data.current)" *ngIf="!data.current.loadingMoreData">
									<i label="add"></i>
								</button>
								<mat-progress-spinner mode="indeterminate" *ngIf="data.current.loadingMoreData"></mat-progress-spinner>
							</div>
						</div>

						<div class="noData" *ngIf="!data.current.disabledComments">
							{{translations.commentsDisabled}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container" *ngIf="notExists">
			<div class="noData">
				{{translations.publicationNotExists}}
			</div>
		</div>
	</div>
</div>
