<div class="dialogBox">
	<div mat-dialog-title class="header mobile">
		<div class="left">
			<button mat-icon-button (click)="close()">
				<i label="back"></i>
			</button>

			<div class="text">
				{{translations?.post?.title}}
			</div>
		</div>
	</div>

	<div mat-dialog-content class="bodyPublications">
		<div class="container" *ngIf="!dataDefault?.notExists">
			<div class="left" [ngClass]="{'remove': dataDefault?.data?.addRemoveSession}">
				<div class="user">
					<a class="avatar" routerLink="/{{userData?.username}}">
						<img [src]="userData?.avatar ? userData?.avatarUrl : env.avatar"/>
					</a>

					<div class="username">
						<div class="data">
							<a class="name" routerLink="/{{userData?.username}}">{{userData?.username}}</a>
							<i class="icon50 blue" label="official" *ngIf="userData?.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
							<div class="date">{{dataDefault?.data?.date | timeago}}</div>
						</div>
					</div>

					<div class="actions" *ngIf="sessionData?.current?.id">
						<button mat-icon-button [matMenuTriggerFor]="options">
							<i class="icon85 grey" label="more"></i>
						</button>

						<mat-menu #options="matMenu">
							<button mat-menu-item (click)="itemOptions('close', dataDefault?.data)">{{translations?.common?.close}}</button>
							<button mat-menu-item (click)="itemOptions('disableComments', dataDefault?.data)" *ngIf="dataDefault?.data?.user?.id == sessionData?.current?.id">{{dataDefault?.data?.disabledComments ? translations?.common?.disableComments : translations?.common?.enableComments}}</button>
							<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
							<button mat-menu-item (click)="itemOptions('report', dataDefault?.data)">{{translations?.common?.report}}</button>
							<mat-divider *ngIf="dataDefault?.data?.user?.id == sessionData?.current?.id"></mat-divider>
							<button mat-menu-item (click)="itemOptions('remove', dataDefault?.data)" *ngIf="dataDefault?.data?.user?.id == sessionData?.current?.id">{{dataDefault?.data?.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
						</mat-menu>
						
						<mat-menu #menuShareSocial="matMenu">
							<button mat-menu-item (click)="shareOn('message', dataDefault?.data)">{{translations?.common?.sendMessage}}</button>
							<button mat-menu-item (click)="shareOn('newTab', dataDefault?.data)">{{translations?.common?.openInNewTab}}</button>
							<button mat-menu-item (click)="shareOn('copyLink', dataDefault?.data)">{{translations?.common?.copyLink}}</button>
						</mat-menu>
					</div>
				</div>

				<div class="photos" *ngIf="dataDefault?.data?.photos">
					<span *ngIf="dataDefault?.data?.photos.length == 1">
						<img *ngIf="dataDefault?.data?.photos[0].mimetype.indexOf('image') !== -1" [src]="env.pathPhotos + dataDefault?.data?.photos[0].name">

						<video *ngIf="dataDefault?.data?.photos[0].mimetype.indexOf('video') !== -1" #videoPlayer width="100%" height="auto" poster="{{env.pathVideos + 'thumbnails/' + dataDefault?.data?.photos[0].name}}">
							<source src="{{env.pathVideos + dataDefault?.data?.photos[0].name.split('.')[0] + '.mp4'}}" type="video/mp4">
						</video>

						<span *ngIf="dataDefault?.data?.photos[0].mimetype.indexOf('video') !== -1">
							<div class="playPause" (click)="playVideo('play')" *ngIf="!dataDefault?.data?.playButton">
								<i label="play"></i>
							</div>
						</span>
					</span>

					<swiper *ngIf="dataDefault?.data?.photos.length > 1" [config]="swiperConfig">
						<div class="swiper-wrapper">
							<div class="swiper-slide" *ngFor="let p of dataDefault?.data?.photos">
								<div class="slide">
									<div class="image">
										<div class="img" *ngIf="p?.mimetype.indexOf('image') !== -1" [ngStyle]="{'background-image': 'url(' + env.pathPhotos + p?.name + ')'}"></div>
										
										<video *ngIf="p?.mimetype.indexOf('video') !== -1" width="100%" height="auto" poster="{{env.pathVideos + 'thumbnails/' + p?.name}}" preload="yes" controls="true">
											<source src="{{env.pathVideos + p?.name.split('.')[0] + '.mp4'}}" type="video/mp4">
										</video>

										<span *ngIf="p?.mimetype.indexOf('video') !== -1">
											<div class="playPause" (click)="playVideo('play')" *ngIf="!p?.playButton">
												<i label="play"></i>
											</div>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="swiper-pagination"></div>
						
						<div class="swiperNext" mat-ripple>
							<i label="keyboard-arrow-right"></i>
						</div>
						<div class="swiperPrev" mat-ripple>
							<i label="keyboard-arrow-left"></i>
						</div>
					</swiper>
				</div>
			</div>

			<div class="right">
				<div class="box">
					<div class="panel">
						<div class="user">
							<a class="avatar" routerLink="/{{userData?.username}}">
								<img [src]="userData?.avatar ? userData?.avatarUrl : env.avatar"/>
							</a>

							<div class="username">
								<div class="data">
									<a class="name" routerLink="/{{userData?.username}}">{{userData?.username}}</a>
									<i class="icon50 blue" label="official" *ngIf="userData?.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
									<div class="date">{{dataDefault?.data?.date | timeago}}</div>
								</div>
							</div>

							<div class="actions" *ngIf="sessionData?.current?.id">
								<button mat-icon-button [matMenuTriggerFor]="options">
									<i class="icon85 grey" label="more"></i>
								</button>

								<mat-menu #options="matMenu">
									<button mat-menu-item (click)="itemOptions('close', dataDefault?.data)">{{translations?.common?.close}}</button>
									<button mat-menu-item (click)="itemOptions('disableComments', dataDefault?.data)" *ngIf="dataDefault?.data?.user?.id == sessionData?.current?.id">{{dataDefault?.data?.disabledComments ? translations?.common?.disableComments : translations?.common?.enableComments}}</button>
									<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
									<button mat-menu-item (click)="itemOptions('report', dataDefault?.data)">{{translations?.common?.report}}</button>
									<mat-divider *ngIf="dataDefault?.data?.user?.id == sessionData?.current?.id"></mat-divider>
									<button mat-menu-item (click)="itemOptions('remove', dataDefault?.data)" *ngIf="dataDefault?.data?.user?.id == sessionData?.current?.id">{{dataDefault?.data?.addRemoveSession ? translations?.common?.restore : translations?.common?.remove}}</button>
								</mat-menu>
								
								<mat-menu #menuShareSocial="matMenu">
									<button mat-menu-item (click)="shareOn('message', dataDefault?.data)">{{translations?.common?.sendMessage}}</button>
									<button mat-menu-item (click)="shareOn('newTab', dataDefault?.data)">{{translations?.common?.openInNewTab}}</button>
									<button mat-menu-item (click)="shareOn('copyLink', dataDefault?.data)">{{translations?.common?.copyLink}}</button>
								</mat-menu>
							</div>
						</div>

						<div class="textContainer" *ngIf="dataDefault?.data?.content" [innerHTML]="dataDefault?.data?.content | safeHtml"></div>

						<div class="audios" *ngIf="dataDefault?.data?.audios">
							<ul class="tracks">
								<li *ngFor="let a of dataDefault?.data?.audios; let i=index;" [ngClass]="{active: audioPlayerData?.key == i && audioPlayerData?.type == 'publication' && audioPlayerData?.postId == dataDefault?.data?.id, default: !a?.image}">
									<div class="inner">
										<div class="image">
											<button mat-icon-button (click)="playSong(dataDefault?.data, a, i, 'publication')">
												<i label="play" *ngIf="!a?.playing || !(audioPlayerData?.postId == dataDefault?.data?.id)"></i>
												<i label="pause" *ngIf="a?.playing && (audioPlayerData?.postId == dataDefault?.data?.id)"></i>
												<img *ngIf="a?.image" [src]="env.pathAudios + 'thumbnails/' + a?.image"/>
											</button>
										</div>

										<div class="text" (click)="playSong(dataDefault?.data, a, i, 'publication')">
											<div class="titleArtist" title="{{a?.original_title ? a?.original_title : a?.title}}">
												<div class="title">{{a?.original_title ? a?.original_title : a?.title}}</div>
												<div class="artist">{{a?.original_artist ? a?.original_artist : a?.title}}</div>
											</div>
											<div class="duration">{{a?.duration}}</div>
										</div>

										<div class="actions" *ngIf="sessionData?.current?.id">
											<button mat-icon-button [matMenuTriggerFor]="appMenu">
												<i class="icon85 blue" label="check" *ngIf="a?.addRemoveUser"></i>
												<i class="icon85 grey" label="more" *ngIf="!a?.addRemoveUser"></i>
											</button>

											<mat-menu #appMenu="matMenu">
												<button mat-menu-item (click)="itemSongOptions('addRemoveUser', a, null)">{{!a.addRemoveUser ? translations?.common?.add : translations?.common?.remove}}</button>
												<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">{{translations?.common?.addToPlaylist}}</button>
												<button mat-menu-item [matMenuTriggerFor]="menuSongShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
												<button mat-menu-item (click)="itemSongOptions('report', a, null)">{{translations?.common?.report}}</button>
											</mat-menu>

											<mat-menu #menuPlaylists="matMenu">
												<button mat-menu-item (click)="itemSongOptions('createPlaylist', null, null)">{{translations?.common?.createPlaylist}}</button>
												<mat-divider *ngIf="sessionData?.current?.playlists?.length > 0"></mat-divider>
												<span *ngFor="let p of sessionData.current.playlists">
													<button mat-menu-item *ngIf="!p.removed" (click)="itemSongOptions('playlist', a, p)">{{p?.title}}</button>
												</span>
											</mat-menu>

											<mat-menu #menuSongShareSocial="matMenu">
												<button mat-menu-item (click)="shareOn('messageSong', a)">{{translations?.common?.sendMessage}}</button>
												<button mat-menu-item (click)="shareOn('newTabSong', a)">{{translations?.common?.openInNewTab}}</button>
												<button mat-menu-item (click)="shareOn('copyLinkSong', a)">{{translations?.common?.copyLink}}</button>
											</mat-menu>
										</div>
									</div>
								</li>
							</ul>
						</div>

						<div class="analytics">
							<div class="buttonBox">
								<button mat-icon-button (click)="showComments('showHide', dataDefault?.data)">
									<i label="analytics-comments"></i>
								</button>
							</div>
							
							<div class="buttonBox">
								<button mat-icon-button (click)="likeUnlike(dataDefault?.data)">
									<i label="analytics-like" [ngClass]="{'active' : dataDefault?.data?.liked}"></i>
								</button>
								{{dataDefault?.data?.countLikes}}
							</div>

							<a class="likers" *ngIf="dataDefault?.data?.countLikes > 0" (click)="showLikes(dataDefault?.data)">
								<span *ngFor="let l of dataDefault?.data?.likers; let isLast = last">
									{{l?.username}}{{isLast ? '' : ', '}}
								</span>
								{{dataDefault?.data?.countLikes <= 2 ? translations?.common?.likedThis : translations?.common?.andMoreLikedThis}}
							</a>

							<div class="buttonBox bookmark">
								<button mat-icon-button (click)="markUnmark(dataDefault?.data)">
									<i label="analytics-bookmark" [ngClass]="{'active' : dataDefault?.data?.bookmark?.checked}"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="boxComments" *ngIf="dataDefault?.data?.showCommentsBox">
						<div class="comments" *ngIf="!dataDefault?.data?.disabledComments && dataDefault?.data?.loaded">
							<div class="countComments">
								{{dataDefault?.data?.countComments}} 
								{{translations?.common?.comments}}
							</div>

							<div class="new" *ngIf="sessionData?.current?.id">
								<div class="avatar">
									<img [src]="sessionData?.current?.avatar ? sessionData?.current?.avatarUrl : env.avatar"/>
								</div>
								<div class="richComment">
									<div class="highlights" [innerHTML]="dataDefault?.data?.newCommentData?.transformed"></div>
									<div class="origin" contenteditable="plaintext-only" [textContent]="dataDefault?.data?.newCommentData?.onBackground" (input)="newComment('writingChanges', $event.target.innerText, dataDefault?.data)" (keyup)="newComment('keyCode', $event, dataDefault?.data)" (keydown)="newComment('keyCode', $event, dataDefault?.data)" (mouseup)="newComment('keyCode', $event, dataDefault?.data)"></div>
								</div>
								<div class="actions">
									<button mat-icon-button type="submit" (click)="newComment('create', $event, dataDefault?.data)">
										<i class="icon75 blue" label="send-comment"></i>
									</button>
								</div>
							</div>

							<ul>
								<li *ngFor="let c of dataDefault?.data?.comments?.list" [ngClass]="{'remove': c?.addRemove}">
									<div class="top">
										<a class="avatar" routerLink="/{{c?.user?.username}}">
											<img [src]="c?.user?.avatar ? c?.user?.avatarUrl : env.avatar"/>
										</a>

										<div class="username">
											<div class="data">
												<a class="name" routerLink="/{{c?.user?.username}}">{{c?.user?.username}}</a>
												<i class="icon50 blue" label="official" *ngIf="c?.user?.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
												<div class="date">{{c?.date | timeago}}</div>
											</div>
										</div>
										
										<div class="actions" *ngIf="sessionData?.current?.id">
											<button mat-icon-button [matMenuTriggerFor]="optionsComments">
												<i class="icon75 grey" label="more"></i>
											</button>
											<mat-menu #optionsComments="matMenu">
												<button mat-menu-item (click)="commentsOptions('report', dataDefault?.data, c)">{{translations?.common?.report}}</button>
												<button mat-menu-item (click)="commentsOptions('addRemove', dataDefault?.data, c)" *ngIf="c?.user?.id === sessionData?.current?.id || dataDefault?.data?.user?.id === sessionData?.current?.id">{{c.addRemove ? translations?.common?.restore : translations?.common?.remove}}</button>
											</mat-menu>
										</div>
									</div>

									<div class="bottom">
										<span [innerHtml]="c?.comment | safeHtml"></span>
									</div>
								</li>
							</ul>

							<div class="loadingData" *ngIf="dataDefault?.data?.loadingData">
								<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
							</div>

							<div class="noData" *ngIf="dataDefault?.data?.noData">
								<div class="description">{{translations?.common?.noComments}}</div>
							</div>
							
							<div class="loadMore" *ngIf="dataDefault?.data?.loadMoreData">
								<button mat-fab (click)="defaultComments('more', dataDefault?.data)" *ngIf="!dataDefault?.data?.loadingMoreData">
									<i label="add"></i>
								</button>
								<mat-progress-spinner mode="indeterminate" *ngIf="dataDefault?.data?.loadingMoreData"></mat-progress-spinner>
							</div>
						</div>

						<div class="noData" *ngIf="dataDefault?.data?.disabledComments">
							<div class="description">{{translations?.common?.commentsDisabled}}</div>
						</div>

						<div class="loadComments" *ngIf="!dataDefault?.data?.disabledComments && !dataDefault?.data?.loaded">
							<button mat-raised-button (click)="showComments('load', dataDefault?.data)">
								{{translations?.main?.loadComments}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container" *ngIf="dataDefault?.notExists">
			<div class="noData">
				<div class="description">{{translations?.common?.publicationNotExists}}</div>
			</div>
		</div>
	</div>
</div>
