<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageUser main" *ngIf="userExists">
			<div class="panel">
				<div class="dataBox">
					<div class="head">
						<button mat-icon-button class="l" (click)="goBack()" *ngIf="!comeFromUserButton">
							<i label="back"></i>
						</button>

						<div class="text">
							<span class="active" (click)="showAccounts = !showAccounts" *ngIf="userData?.id === sessionData?.current?.id">
								{{userData?.username}}
								<i label="arrow-mini-line" [ngClass]="{active: showAccounts}"></i>
							</span>
							<span *ngIf="!(userData?.id === sessionData?.current?.id)">
								{{userData?.username}}
							</span>
						</div>

						<button mat-icon-button class="r" [matMenuTriggerFor]="options" *ngIf="sessionData?.current?.id">
							<i label="more"></i>
						</button>

						<mat-menu #options="matMenu">
							<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
							<button mat-menu-item (click)="userOptions('report', userData)">{{translations?.common?.report}}</button>
						</mat-menu>

						<mat-menu #menuShareSocial="matMenu">
							<button mat-menu-item (click)="userOptions('message', userData)">{{translations?.common?.sendMessage}}</button>
							<button mat-menu-item (click)="userOptions('copyLink', userData)">{{translations?.main?.copyLink}}</button>
						</mat-menu>
					</div>

					<mat-expansion-panel [expanded]="(userData?.id === sessionData?.current?.id) && showAccounts">
						<ul class="sessions main">
							<li *ngFor="let x of sessionData?.sessions" [ngClass]="{active: sessionData?.current?.id == x.id}">
								<div mat-ripple class="inner">
									<div class="avatar" (click)="userOptions('setCurrentUser', x)">
										<img [src]="x.avatar ? x.avatarUrl : env.avatar"/>
									</div>

									<div class="text" (click)="userOptions('setCurrentUser', x)">
										<div class="in">
											<div class="data">
												<a class="name">{{x.username}}</a>
												<i class="icon50 blue" label="official" *ngIf="x.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
											</div>
											<div class="info">@{{x.username}}</div>
										</div>
									</div>

									<div class="actions">
										<button mat-button [matMenuTriggerFor]="signOut">{{translations?.common?.logOut}}</button>
										<mat-menu #signOut="matMenu" yPosition="below" xPosition="before" class="removeBox">
											<div class="text">
												{{x.name}}
												<br>
												{{translations?.common?.leaveSite}}
											</div>
											<div class="buttons">
												<button mat-menu-item>{{translations?.common?.no}}</button>
												<button mat-menu-item (click)="userOptions('closeSession', x)">{{translations?.common?.yes}}</button>
											</div>
										</mat-menu>
									</div>
								</div>
							</li>

							<li *ngIf="sessionData?.sessions?.length < 10" (click)="userOptions('openNewSession', null)">
								<div mat-ripple class="inner">
									<div class="add">
										<i label="add"></i>
									</div>
									<div class="text">
										<div class="in">
											<div class="data">{{translations?.common?.addAccount}}</div>
											<div class="info">{{translations?.common?.setAnotherAccount}}</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</mat-expansion-panel>

					<div class="user">
						<div class="left">
							<div class="avatar" (click)="userOptions('showAvatar', userData)">
								<img [src]="userData?.avatar ? userData?.avatarUrl : env.avatar"/>
							</div>
						</div>

						<div class="right">
							<div class="text">
								<div class="name">
									{{userData?.name}}
									<i class="icon65 blue" label="official" *ngIf="userData?.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
								</div>
								<div class="about" *ngIf="userData?.about">{{userData?.about}}</div>
							</div>
						</div>
					</div>

					<div class="social">
						<div class="inner" *ngIf="userData?.id === sessionData?.current?.id">
							<button mat-icon-button type="button" class="settings" routerLink="/settings">
								{{translations?.settings?.editProfile}}
							</button>
						</div>

						<div class="inner" *ngIf="(userData?.id != sessionData?.current?.id) && sessionData?.current?.id">
							<button mat-raised-button *ngIf="userData?.status === 'unfollow'" (click)="followUnfollow('follow', userData)">
								{{translations?.common?.follow}}
							</button>

							<button mat-raised-button *ngIf="userData?.status === 'pending'" class="pending" [matMenuTriggerFor]="cancelRequest">
								{{translations?.common?.pending}}
							</button>

							<button mat-raised-button *ngIf="userData?.status === 'following'" class="following" [matMenuTriggerFor]="stopFollowing">
								{{translations?.common?.following}}
							</button>

							<mat-menu #cancelRequest="matMenu" yPosition="below" xPosition="before" class="removeBox">
								<div class="text">
									{{translations?.common?.cancelRequest}}
								</div>
								<div class="buttons">
									<button mat-menu-item>{{translations?.common?.no}}</button>
									<button mat-menu-item (click)="followUnfollow('unfollow', userData)">{{translations?.common?.yes}}</button>
								</div>
							</mat-menu>

							<mat-menu #stopFollowing="matMenu" yPosition="below" xPosition="before" class="removeBox">
								<div class="text">
									{{translations?.common?.stopFollowing}}
									<br>
									{{userData?.username}}?
								</div>
								<div class="buttons">
									<button mat-menu-item>{{translations?.common?.no}}</button>
									<button mat-menu-item (click)="followUnfollow('unfollow', userData)">{{translations?.common?.yes}}</button>
								</div>
							</mat-menu>

							<button mat-raised-button class="icon" (click)="userOptions('sendMessage', userData)">
								<i class="icon85" label="send-comment"></i>
							</button>

							<button mat-raised-button class="icon" (click)="getRecommendedUsers()">
								<mat-progress-spinner mode="indeterminate" *ngIf="recommendedUsers.loading"></mat-progress-spinner>
								<i label="arrow-mini-line" *ngIf="!recommendedUsers.loading" [ngClass]="{active: recommendedUsers.show}"></i>
							</button>
						</div>
					</div>

					<mat-expansion-panel [expanded]="(userData?.id !== sessionData?.current?.id) && !recommendedUsers.loading && recommendedUsers.show">
						<div class="expTitle">
							{{translations?.common?.recommendedForYou}}
						</div>

						<ul class="recommendedUsers" *ngIf="recommendedUsers.list.length > 0">
							<li *ngFor="let x of recommendedUsers.list; let i = index;" [ngClass]="{'remove': x?.dismiss}" [@slideInOut]>
								<div class="inner">
									<div class="close" (click)="dismissRecommended(x, i)">
										<i class="icon65 grey" label="close"></i>
									</div>

									<div class="avatar" routerLink="/{{x.user.username}}">
										<img [src]="x?.user?.avatar ? x?.user?.avatarUrl : env.avatar"/>
									</div>

									<a class="texts" routerLink="/{{x.user.username}}">
										<div class="text">
											{{x?.user?.username}}
											<i class="icon50 blue" label="official" *ngIf="x?.user?.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
										</div>
										<div class="text">{{x?.user?.name}}</div>
									</a>

									<div class="button">
										<button mat-raised-button *ngIf="x?.status === 'unfollow'" (click)="followUnfollow('follow', x)">
											{{translations?.common?.follow}}
										</button>

										<button mat-raised-button *ngIf="x?.status === 'pending'" class="pending" [matMenuTriggerFor]="cancelRequest">
											{{translations?.common?.pending}}
										</button>

										<button mat-raised-button *ngIf="x?.status === 'following'" class="following" [matMenuTriggerFor]="stopFollowing">
											{{translations?.common?.following}}
										</button>

										<mat-menu #cancelRequest="matMenu" yPosition="below" xPosition="before" class="removeBox">
											<div class="text">
												{{translations?.common?.cancelRequest}}
											</div>
											<div class="buttons">
												<button mat-menu-item>{{translations?.common?.no}}</button>
												<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
											</div>
										</mat-menu>

										<mat-menu #stopFollowing="matMenu" yPosition="below" xPosition="before" class="removeBox">
											<div class="text">
												{{translations?.common?.stopFollowing}}
												<br>
												{{x?.user?.username}}?
											</div>
											<div class="buttons">
												<button mat-menu-item>{{translations?.common?.no}}</button>
												<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
											</div>
										</mat-menu>
									</div>
								</div>
							</li>
						</ul>

						<div class="noData" *ngIf="recommendedUsers.list.length === 0">
							<div class="description">{{translations?.common?.noData}}</div>
						</div>
					</mat-expansion-panel>

					<div class="pages">
						<ul *ngIf="((userData?.private && userData?.status === 'following') || !userData?.private || userData?.status === 'following' || (userData?.id === sessionData?.current?.id))">
							<li>
								<a routerLink="/{{userData?.username}}/songs" mat-ripple>
									<div class="text">
										{{userData?.countAudios}}
									</div>
									<div class="text">
										{{translations?.audios?.title}}
									</div>
								</a>
							</li>
							<li>
								<a routerLink="/{{userData?.username}}/following" mat-ripple>
									<div class="text">
										{{userData?.countFollowing}}
									</div>
									<div class="text">
										{{translations?.following?.title}}
									</div>
								</a>
							</li>
							<li>
								<a routerLink="/{{userData?.username}}/followers" mat-ripple>
									<div class="text">
										{{userData?.countFollowers}}
									</div>
									<div class="text">
										{{translations?.followers?.title}}
									</div>
								</a>
							</li>
							<li *ngIf="sessionData?.current?.id === userData?.id">
								<a routerLink="/saved" mat-ripple>
									<div class="text">
										<i label="bookmarks" class="icon50"></i>
										{{userData?.countBookmarks}}
									</div>
									<div class="text">
										{{translations?.bookmarks?.title}}
									</div>
								</a>
							</li>
						</ul>
					</div>

					<div class="createButton" *ngIf="userData?.id === sessionData?.current?.id">
						<button mat-raised-button (click)="newPublication('new', null)">
							<i label="add"></i>
							{{translations?.main?.newPublication}}
						</button>
					</div>
				</div>
			</div>

			<div class="content" *ngIf="((userData?.private && userData?.status === 'following') || !userData?.private || userData?.status === 'following' || (userData?.id === sessionData?.current?.id))">
				<ul class="publicationsBoxes" *ngIf="dataDefault?.list">
					<li *ngFor="let x of dataDefault?.list" [ngClass]="{'remove': x.addRemoveSession}">
						<span class="inner" *ngIf="!x.contentTypeAd">
							<a mat-ripple class="image" routerLink="/p/{{x.name}}" target="popup" (click)="itemPublicationOptions('show', x); false;">
								<div class="img" [ngStyle]="{'background-image': 'url(' + (x.contentData ? (env.pathPhotos + x.contentData.name) : env.defaultPostImage) + ')'}"></div>
							</a>
						</span>

						<div class="ad" *ngIf="x.contentTypeAd">
							<div class="adContent" [innerHtml]="x.content | safeHtml"></div>
							<div class="disableAdBlock" *ngIf="hideAd">
								{{translations?.common?.disableAdBlock}}
							</div>
						</div>
					</li>
				</ul>

				<div class="loadingData" *ngIf="dataDefault?.loadingData">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>

				<div class="noData" *ngIf="dataDefault?.noData">
					<div class="image">
						<i label="no-posts"></i>
					</div>
					<div class="description">{{translations?.main?.noData}}</div>
				</div>

				<div class="loadMore" *ngIf="dataDefault?.loadMoreData">
					<button mat-fab (click)="default('more', null, null)" *ngIf="!dataDefault?.loadingMoreData">
						<i label="add"></i>
					</button>
					<mat-progress-spinner mode="indeterminate" *ngIf="dataDefault?.loadingMoreData"></mat-progress-spinner>
				</div>

				<div class="recommendedPlaylists" *ngIf="recommendedPlaylists.list.length > 0 && !dataDefault?.loadingData">
					<div class="boxTitle">
						{{translations?.common?.recommendedForYou}}
					</div>

					<ul class="playlists">
						<li *ngFor="let x of recommendedPlaylists.list; let i=index;">
							<a mat-ripple class="image" routerLink="/pl/{{x.name}}" target="popup" (click)="itemPlaylistOptions('show', x, i); false;">
								<div class="img" [ngStyle]="{'background-image': 'url(' + (x?.image?.length ? (env.pathAudios + 'covers/' + x.image) : env.defaultPlaylistCover) + ')'}"></div>
							</a>

							<div class="panel">
								<a class="title" routerLink="/pl/{{x.name}}" target="popup" (click)="itemPlaylistOptions('show', x, i); false;">
									{{x.title}}
								</a>

								<div class="actions" *ngIf="sessionData?.current?.id">
									<div class="category" *ngIf="x.explicit">
										<i label="explicit" class="icon65 grey" matTooltip="{{translations?.common?.explicit}}"></i>
									</div>

									<button mat-icon-button [matMenuTriggerFor]="appMenu">
										<i class="icon85 blue" label="check" *ngIf="x.addRemoveUser"></i>
										<i class="icon85 grey" label="more" *ngIf="!x.addRemoveUser"></i>
									</button>

									<mat-menu #appMenu="matMenu">
										<button mat-menu-item (click)="itemPlaylistOptions('addRemoveUser', x, i)">{{!x.addRemoveUser ? translations?.common?.clone : translations?.common?.remove}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('follow', x, i)">{{!x.followUnfollow ? translations?.common?.follow : translations?.common?.stopFollowing}}</button>
										<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('report', x, i)">{{translations?.common?.report}}</button>
									</mat-menu>

									<mat-menu #menuShareSocial="matMenu">
										<button mat-menu-item (click)="itemPlaylistOptions('message', x, i)">{{translations?.common?.sendMessage}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('newTab', x, i)">{{translations?.common?.openInNewTab}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('copyLink', x, i)">{{translations?.common?.copyLink}}</button>
									</mat-menu>
								</div>
							</div>
						</li>

						<li class="seeAll" routerLink="/{{sessionData?.current?.username}}/songs">
							<div class="inner">
								<div class="text">
									{{translations?.common?.seeAll}}
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="noData" *ngIf="!((userData?.private && userData?.status === 'following') || !userData?.private || userData?.status === 'following' || (userData?.id === sessionData?.current?.id))">
				<div class="description">{{translations?.common?.privateAccount}}</div>
			</div>
		</div>

		<div class="pageUser" *ngIf="!userExists">
			<div class="noData">
				<div class="description">{{translations?.main?.userNotFound}}</div>
			</div>
		</div>
	</div>
</div>
