<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageUser main" *ngIf="userExists">
			<div class="panel">
				<div class="dataBox">
					<div class="head">
						<div class="b" (click)="goBack()" *ngIf="!comeFromUserButton">
							<button mat-icon-button>
								<i label="back"></i>
							</button>
							<div class="text">{{translations?.common?.back}}</div>
						</div>

						<div class="name">
							<div class="in" *ngIf="userData?.id === sessionData?.current?.id">
								<span class="n active" (click)="showAccounts = !showAccounts">{{userData?.username}}</span>
								<i label="arrow-mini-line" [ngClass]="{active: showAccounts}" (click)="showAccounts = !showAccounts"></i>
							</div>
							<div class="in" *ngIf="!(userData?.id === sessionData?.current?.id)">
								<span class="n">{{userData?.username}}</span>
							</div>
						</div>

						<button mat-icon-button class="m" [matMenuTriggerFor]="options" *ngIf="sessionData?.current?.id">
							<i label="more"></i>
						</button>

						<mat-menu #options="matMenu">
							<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
							<button mat-menu-item (click)="itemUserOptions('report', userData)">{{translations?.common?.report}}</button>
						</mat-menu>

						<mat-menu #menuShareSocial="matMenu">
							<button mat-menu-item (click)="itemUserOptions('message', userData)">{{translations?.common?.sendMessage}}</button>
							<button mat-menu-item (click)="itemUserOptions('copyLink', userData)">{{translations?.main?.copyLink}}</button>
						</mat-menu>
					</div>

					<mat-expansion-panel [expanded]="(userData?.id === sessionData?.current?.id) && showAccounts">
						<ul class="sessions main">
							<li *ngFor="let x of sessionData?.sessions" [ngClass]="{active: sessionData?.current?.id == x.id}">
								<div mat-ripple class="inner">
									<div class="avatar" (click)="itemUserOptions('setCurrentUser', x)">
										<img [src]="x.avatar ? x.avatarUrl : env.avatar"/>
									</div>

									<div class="texts" (click)="itemUserOptions('setCurrentUser', x)">
										<div class="text">
											{{x.username}}
											<i class="icon50 blue" label="official" *ngIf="x.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
										</div>
										<div class="text">@{{x.username}}</div>
									</div>

									<div class="actions">
										<button mat-button [matMenuTriggerFor]="signOut">{{translations?.common?.logOut}}</button>
										<mat-menu #signOut="matMenu" yPosition="below" xPosition="before" class="removeBox">
											<div class="text">
												{{x.name}}
												<br>
												{{translations?.common?.leaveSite}}
											</div>
											<div class="buttons">
												<button mat-menu-item>{{translations?.common?.no}}</button>
												<button mat-menu-item (click)="itemUserOptions('closeSession', x)">{{translations?.common?.yes}}</button>
											</div>
										</mat-menu>
									</div>
								</div>
							</li>

							<li *ngIf="sessionData?.sessions?.length < 10" (click)="itemUserOptions('openNewSession', null)">
								<div mat-ripple class="inner">
									<div class="avatar add">
										<i label="add"></i>
									</div>
									<div class="texts">
										<div class="text">{{translations?.common?.addAccount}}</div>
										<div class="text">{{translations?.common?.setAnotherAccount}}</div>
									</div>
								</div>
							</li>
						</ul>
					</mat-expansion-panel>

					<div class="user">
						<div class="left">
							<div class="avatar">
								<img [src]="userData?.avatar ? userData?.avatarUrl : env.avatar"/>
							</div>
						</div>

						<div class="right">
							<div class="text">
								<div class="name">
									{{userData?.name}}
									<i class="icon65 blue" label="official" *ngIf="userData?.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
								</div>
								<div class="about" *ngIf="userData?.about">{{userData?.about}}</div>
							</div>
						</div>
					</div>

					<div class="social">
						<div class="inner" *ngIf="userData?.id === sessionData?.current?.id">
							<button mat-icon-button type="button" class="settings" routerLink="/settings">
								{{translations?.settings?.editProfile}}
							</button>
						</div>

						<div class="inner" *ngIf="(userData?.id != sessionData?.current?.id) && sessionData?.current?.id">
							<button mat-raised-button *ngIf="userData?.status === 'unfollow'" (click)="followUnfollow('follow', userData)">
								{{translations?.common?.follow}}
							</button>

							<button mat-raised-button *ngIf="userData?.status === 'pending'" class="pending" [matMenuTriggerFor]="cancelRequest">
								{{translations?.common?.pending}}
							</button>

							<button mat-raised-button *ngIf="userData?.status === 'following'" class="following" [matMenuTriggerFor]="stopFollowing">
								{{translations?.common?.following}}
							</button>

							<mat-menu #cancelRequest="matMenu" yPosition="below" xPosition="before" class="removeBox">
								<div class="text">
									{{translations?.common?.cancelRequest}}
								</div>
								<div class="buttons">
									<button mat-menu-item>{{translations?.common?.no}}</button>
									<button mat-menu-item (click)="followUnfollow('unfollow', userData)">{{translations?.common?.yes}}</button>
								</div>
							</mat-menu>

							<mat-menu #stopFollowing="matMenu" yPosition="below" xPosition="before" class="removeBox">
								<div class="text">
									{{translations?.common?.stopFollowing}}
									<br>
									{{userData?.username}}?
								</div>
								<div class="buttons">
									<button mat-menu-item>{{translations?.common?.no}}</button>
									<button mat-menu-item (click)="followUnfollow('unfollow', userData)">{{translations?.common?.yes}}</button>
								</div>
							</mat-menu>

							<!-- <button mat-raised-button class="icon" (click)="itemUserOptions('sendMessage', userData)">
								<i class="icon85" label="send-comment"></i>
							</button> -->

							<button mat-raised-button class="icon" (click)="getRecommendedUsers('toggle')">
								<mat-progress-spinner mode="indeterminate" *ngIf="recommendedUsers.loading"></mat-progress-spinner>
								<i label="arrow-mini-line" *ngIf="!recommendedUsers.loading" [ngClass]="{active: recommendedUsers.show}"></i>
							</button>
						</div>
					</div>

					<mat-expansion-panel [expanded]="(userData?.id !== sessionData?.current?.id) && !recommendedUsers.loading && recommendedUsers.show">
						<div class="expTitle">
							{{translations?.common?.recommendedForYou}}
						</div>

						<ul class="recommendedUsers" *ngIf="recommendedUsers.list.length > 0">
							<li *ngFor="let x of recommendedUsers.list; let i = index;" [ngClass]="{'remove': x?.dismiss}" [@slideInOut]>
								<div class="inner">
									<div class="close" (click)="dismissRecommended(x, i)">
										<i class="icon65 grey" label="close"></i>
									</div>

									<div class="avatar" routerLink="/{{x.user.username}}">
										<img [src]="x?.user?.avatar ? x?.user?.avatarUrl : env.avatar"/>
									</div>

									<a class="texts" routerLink="/{{x.user.username}}">
										<div class="text">
											{{x?.user?.username}}
											<i class="icon50 blue" label="official" *ngIf="x?.user?.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
										</div>
										<div class="text">{{x?.user?.name}}</div>
									</a>

									<div class="button">
										<button mat-raised-button *ngIf="x?.status === 'unfollow'" (click)="followUnfollow('follow', x)">
											{{translations?.common?.follow}}
										</button>

										<button mat-raised-button *ngIf="x?.status === 'pending'" class="pending" [matMenuTriggerFor]="cancelRequest">
											{{translations?.common?.pending}}
										</button>

										<button mat-raised-button *ngIf="x?.status === 'following'" class="following" [matMenuTriggerFor]="stopFollowing">
											{{translations?.common?.following}}
										</button>

										<mat-menu #cancelRequest="matMenu" yPosition="below" xPosition="before" class="removeBox">
											<div class="text">
												{{translations?.common?.cancelRequest}}
											</div>
											<div class="buttons">
												<button mat-menu-item>{{translations?.common?.no}}</button>
												<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
											</div>
										</mat-menu>

										<mat-menu #stopFollowing="matMenu" yPosition="below" xPosition="before" class="removeBox">
											<div class="text">
												{{translations?.common?.stopFollowing}}
												<br>
												{{x?.user?.username}}?
											</div>
											<div class="buttons">
												<button mat-menu-item>{{translations?.common?.no}}</button>
												<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
											</div>
										</mat-menu>
									</div>
								</div>
							</li>
						</ul>

						<div class="noData" *ngIf="recommendedUsers.list.length === 0">
							<div class="description">{{translations?.common?.noData}}</div>
						</div>
					</mat-expansion-panel>

					<div class="pages">
						<ul *ngIf="((userData?.private && userData?.status === 'following') || !userData?.private || userData?.status === 'following' || (userData?.id === sessionData?.current?.id))">
							<li>
								<a routerLink="/{{userData?.username}}/songs" mat-ripple>
									<div class="text">
										{{userData?.countAudios}}
									</div>
									<div class="text">
										{{translations?.audios?.title}}
									</div>
								</a>
							</li>
							<li>
								<a routerLink="/{{userData?.username}}/following" mat-ripple>
									<div class="text">
										{{userData?.countFollowing}}
									</div>
									<div class="text">
										{{translations?.following?.title}}
									</div>
								</a>
							</li>
							<li>
								<a routerLink="/{{userData?.username}}/followers" mat-ripple>
									<div class="text">
										{{userData?.countFollowers}}
									</div>
									<div class="text">
										{{translations?.followers?.title}}
									</div>
								</a>
							</li>
							<!-- <li *ngIf="sessionData?.current?.id === userData?.id">
								<a routerLink="/saved" mat-ripple>
									<div class="text">
										<i label="bookmarks" class="icon50"></i>
										{{userData?.countBookmarks}}
									</div>
									<div class="text">
										{{translations?.bookmarks?.title}}
									</div>
								</a>
							</li> -->
						</ul>
					</div>

					<div class="createButton" *ngIf="userData?.id === sessionData?.current?.id">
						<button mat-raised-button (click)="newPublication('new', null)">
							<i label="add"></i>
							{{translations?.main?.newPublication}}
						</button>
					</div>
				</div>
			</div>

			<div class="content" *ngIf="((userData?.private && userData?.status === 'following') || !userData?.private || userData?.status === 'following' || (userData?.id === sessionData?.current?.id))">

				<mat-tab-group mat-stretch-tabs [(selectedIndex)]="data.selectedIndex" (selectedIndexChange)="setTab(data.selectedIndex)">
					<mat-tab>
						<ng-template mat-tab-label>
							<i label="grid" matTooltip="{{translations?.news?.posts}}"></i>
						</ng-template>

						<ul class="posts" *ngIf="dataDefault?.list">
							<li *ngFor="let x of dataDefault?.list" [ngClass]="{'remove': x.addRemoveSession}">
								<span class="inner" *ngIf="!x.contentTypeAd">
									<a mat-ripple class="image" routerLink="/p/{{x.name}}" target="popup" (click)="itemPublicationOptions('show', x); false;">
										<div class="img" [ngStyle]="{'background-image': 'url(' + (x.contentData ? (x.contentData.duration ? env.pathVideos + 'thumbnails/' + x.contentData.name : (x.contentData.mimetype.indexOf('gif') > -1 ?  env.pathPhotos + x.contentData.name : env.pathPhotos + 'thumbnails/' + x.contentData.name)) : env.defaultPostImage) + ')'}"></div>
									</a>
		
									<div class="publicationDate" *ngIf="x.pDate">
										{{x?.pDate | timeago}}
									</div>
								</span>
		
								<div class="ad" *ngIf="x.contentTypeAd">
									<div class="adContent" [innerHtml]="x.content | safeHtml"></div>
									<div class="disableAdBlock" *ngIf="hideAd">
										{{translations?.common?.disableAdBlock}}
									</div>
								</div>
							</li>
						</ul>

						<div class="loadingData" *ngIf="dataDefault?.loadingData">
							<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
						</div>

						<div class="noData" *ngIf="dataDefault?.noData">
							<div class="image">
								<i label="no-posts"></i>
							</div>
							<div class="description">{{translations?.main?.noData}}</div>
						</div>

						<div class="loadMore" *ngIf="dataDefault?.loadMoreData">
							<button mat-fab (click)="default('more', null, null)" *ngIf="!dataDefault?.loadingMoreData">
								<i label="add"></i>
							</button>
							<mat-progress-spinner mode="indeterminate" *ngIf="dataDefault?.loadingMoreData"></mat-progress-spinner>
						</div>
					</mat-tab>

					<mat-tab>
						<ng-template mat-tab-label>
							<i label="music-note" matTooltip="{{translations?.audios?.songs}}"></i>
						</ng-template>

						<ul class="tracks" *ngIf="dataSongs?.list?.length > 0">
							<li *ngFor="let a of dataSongs?.list; let i=index;" [ngClass]="{active: audioPlayerData.key == i && audioPlayerData.location == 'main' && audioPlayerData.type == 'default', remove: a.addRemoveSession, advert: a.contentTypeAd}">
								<div class="inner" *ngIf="!a.contentTypeAd">
									<div class="image">
										<button mat-icon-button (click)="playSong(dataSongs?.list, a, i, 'default')">
											<i label="play" *ngIf="!a.playing || !(audioPlayerData.location == 'main' && audioPlayerData.type == 'default')"></i>
											<i label="pause" *ngIf="a.playing && (audioPlayerData.location == 'main' && audioPlayerData.type == 'default')"></i>
											<img [src]="a.image ? (env.pathAudios + 'thumbnails/' + a.image) : env.defaultSongCover"/>
										</button>
									</div>

									<div class="text" (click)="playSong(dataSongs?.list, a, i, 'default')">
										<div class="titleArtist" title="{{a.original_title ? a.original_title : a.title}}">
											<div class="title">{{a.original_title ? a.original_title : a.title}}</div>
											<div class="artist">{{a.original_artist ? a.original_artist : a.title}}</div>
										</div>
										<div class="explicitDuration">
											<i label="explicit" class="icon65 grey" matTooltip="{{translations?.common?.explicit}}" *ngIf="a.explicit"></i>
											<div class="duration">{{a.duration}}</div>
										</div>
									</div>

									<div class="actions" *ngIf="sessionData?.current?.id">
										<span *ngIf="userData?.id == sessionData?.current?.id">
											<button mat-icon-button [matMenuTriggerFor]="appMenu">
												<i class="icon85 grey" label="more"></i>
											</button>
										</span>

										<span *ngIf="userData?.id != sessionData?.current?.id">
											<button mat-icon-button [matMenuTriggerFor]="appMenu">
												<i class="icon85 blue" label="check" *ngIf="a.addRemoveUser"></i>
												<i class="icon85 grey" label="more" *ngIf="!a.addRemoveUser"></i>
											</button>
										</span>

										<mat-menu #appMenu="matMenu">
											<button mat-menu-item (click)="itemSongOptions('addRemoveUser', a, null)">{{!a.addRemoveUser ? translations?.common?.add : translations?.common?.remove}}</button>
											<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">{{translations?.common?.addToPlaylist}}</button>
											<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
											<button mat-menu-item (click)="itemSongOptions('report', a, null)">{{translations?.common?.report}}</button>
										</mat-menu>
		
										<mat-menu #menuPlaylists="matMenu">
											<button mat-menu-item (click)="itemSongOptions('createPlaylist', a, null)"><i label="add"></i>{{translations?.common?.createPlaylist}}</button>
											<mat-divider *ngIf="sessionData?.current?.playlists?.length > 0"></mat-divider>
											<span *ngFor="let p of sessionData?.current?.playlists">
												<button mat-menu-item *ngIf="!p.removed" (click)="itemSongOptions('playlist', a, p)">
													<img [src]="p.image ? (env.pathAudios + 'covers/' + p.image) : env.defaultPlaylistCover">
													{{p.title}}
												</button>
											</span>
										</mat-menu>
		
										<mat-menu #menuShareSocial="matMenu">
											<button mat-menu-item (click)="itemSongOptions('message', a, null)"><i label="email" class="icon85"></i>{{translations?.common?.sendMessage}}</button>
											<button mat-menu-item (click)="itemSongOptions('newTab', a, null)"><i label="launch" class="icon85"></i>{{translations?.common?.openInNewTab}}</button>
											<button mat-menu-item (click)="itemSongOptions('copyLink', a, null)"><i label="copy" class="icon85"></i>{{translations?.common?.copyLink}}</button>
											<mat-divider></mat-divider>
											<button mat-menu-item (click)="itemSongOptions('whatsapp', a, null)"><i class="social" label="whatsapp"></i>Whatsapp</button>
											<button mat-menu-item (click)="itemSongOptions('telegram', a, null)"><i class="social" label="telegram"></i>Telegram</button>
											<button mat-menu-item (click)="itemSongOptions('twitter', a, null)"><i class="social" label="twitter"></i>Twitter</button>
											<button mat-menu-item (click)="itemSongOptions('messenger', a, null)"><i class="social" label="messenger"></i>Messenger</button>
											<button mat-menu-item (click)="itemSongOptions('facebook', a, null)"><i class="social" label="facebook"></i>Facebook</button>
											<button mat-menu-item (click)="itemSongOptions('reddit', a, null)"><i class="social" label="reddit"></i>Reddit</button>
										</mat-menu>
									</div>
								</div>

								<div class="ad" *ngIf="a.contentTypeAd">
									<div class="box" [innerHtml]="a.content"></div>
									<div class="disableAdBlock" *ngIf="hideAd">{{translations?.common?.disableAdBlock}}</div>
								</div>
							</li>
						</ul>

						<div class="loadingData" *ngIf="dataSongs?.loadingData">
							<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
						</div>

						<div class="noData" *ngIf="dataSongs?.noData">
							<div class="description">{{translations?.audios?.noData}}</div>
						</div>

						<div class="seeAllData" *ngIf="dataSongs?.list?.length > 0">
							<button mat-raised-button routerLink="/{{userData?.username}}/songs">
								{{translations?.common?.seeAll}}
							</button>
						</div>
					</mat-tab>

					<mat-tab *ngIf="userData?.id === sessionData?.current?.id">
						<ng-template mat-tab-label>
							<i label="bookmarks" matTooltip="{{translations?.bookmarks?.title}}"></i>
						</ng-template>

						<ul class="posts" *ngIf="dataBookmarks?.list">
							<li *ngFor="let x of dataBookmarks?.list" [ngClass]="{'remove': x.bookmarkRemoved, 'advert': x.contentTypeAd}">
								<span class="inner" *ngIf="!x.contentTypeAd">
									<a mat-ripple class="image" routerLink="/p/{{x.name}}" target="popup" (click)="itemPublicationOptions('show', x); false;">
										<div class="img" [ngStyle]="{'background-image': 'url(' + (x.contentData ? (x.contentData.duration ? env.pathVideos + 'thumbnails/' + x.contentData.name : (x.contentData.mimetype.indexOf('gif') > -1 ?  env.pathPhotos + x.contentData.name : env.pathPhotos + 'thumbnails/' + x.contentData.name)) : env.defaultPostImage) + ')'}"></div>
									</a>
								</span>

								<div class="ad" *ngIf="x.contentTypeAd">
									<div class="adContent" [innerHtml]="x.content | safeHtml"></div>
									<div class="disableAdBlock" *ngIf="hideAd">
										{{translations?.common?.disableAdBlock}}
									</div>
								</div>
							</li>
						</ul>

						<div class="loadingData" *ngIf="dataBookmarks?.loadingData">
							<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
						</div>

						<div class="noData" *ngIf="dataBookmarks?.noData">
							<div class="description">{{translations?.bookmarks?.noData}}</div>
						</div>

						<div class="loadMore" *ngIf="dataBookmarks?.loadMoreData">
							<button mat-fab (click)="default('more')" *ngIf="!dataBookmarks?.loadingMoreData">
								<i label="add"></i>
							</button>
							<mat-progress-spinner mode="indeterminate" *ngIf="dataBookmarks?.loadingMoreData"></mat-progress-spinner>
						</div>
					</mat-tab>
				</mat-tab-group>

				<div class="recommendedPlaylists" *ngIf="recommendedPlaylists.list.length > 0 && !dataDefault?.loadingData">
					<div class="boxTitle">
						{{translations?.common?.recommendedForYou}}
					</div>

					<ul class="playlists">
						<li *ngFor="let p of recommendedPlaylists.list; let i=index;">
							<a mat-ripple class="image" routerLink="/pl/{{p.name}}" target="popup" (click)="itemPlaylistOptions('show', p, i); false;">
								<div class="img" [ngStyle]="{'background-image': 'url(' + (p?.image?.length ? (env.pathAudios + 'covers/' + p.image) : env.defaultPlaylistCover) + ')'}"></div>
							</a>

							<div class="panel">
								<a class="title" routerLink="/pl/{{p.name}}" target="popup" (click)="itemPlaylistOptions('show', p, i); false;">
									{{p.title}}
								</a>

								<div class="actions" *ngIf="sessionData?.current?.id">
									<div class="category" *ngIf="p.explicit">
										<i label="explicit" class="icon65 grey" matTooltip="{{translations?.common?.explicit}}"></i>
									</div>

									<button mat-icon-button [matMenuTriggerFor]="appMenu">
										<i class="icon85 blue" label="check" *ngIf="p.addRemoveUser"></i>
										<i class="icon85 grey" label="more" *ngIf="!p.addRemoveUser"></i>
									</button>

									<mat-menu #appMenu="matMenu">
										<button mat-menu-item (click)="itemPlaylistOptions('follow', p, i)">{{!p.followUnfollow ? translations?.common?.follow : translations?.common?.stopFollowing}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('addRemoveUser', p, i)">{{!p.addRemoveUser ? translations?.common?.clone : translations?.common?.remove}}</button>
										<button mat-menu-item [matMenuTriggerFor]="menuShareSocial" #trigger="matMenuTrigger">{{translations?.common?.share}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('report', p, i)">{{translations?.common?.report}}</button>
									</mat-menu>

									<mat-menu #menuShareSocial="matMenu">
										<button mat-menu-item (click)="itemPlaylistOptions('message', p, i)"><i label="email" class="icon85"></i>{{translations?.common?.sendMessage}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('newTab', p, i)"><i label="launch" class="icon85"></i>{{translations?.common?.openInNewTab}}</button>
										<button mat-menu-item (click)="itemPlaylistOptions('copyLink', p, i)"><i label="copy" class="icon85"></i>{{translations?.common?.copyLink}}</button>
										<mat-divider></mat-divider>
										<button mat-menu-item (click)="itemPlaylistOptions('whatsapp', p, i)"><i class="social" label="whatsapp"></i>Whatsapp</button>
										<button mat-menu-item (click)="itemPlaylistOptions('telegram', p, i)"><i class="social" label="telegram"></i>Telegram</button>
										<button mat-menu-item (click)="itemPlaylistOptions('twitter', p, i)"><i class="social" label="twitter"></i>Twitter</button>
										<button mat-menu-item (click)="itemPlaylistOptions('messenger', p, i)"><i class="social" label="messenger"></i>Messenger</button>
										<button mat-menu-item (click)="itemPlaylistOptions('facebook', p, i)"><i class="social" label="facebook"></i>Facebook</button>
										<button mat-menu-item (click)="itemPlaylistOptions('reddit', p, i)"><i class="social" label="reddit"></i>Reddit</button>
									</mat-menu>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="noData" *ngIf="!((userData?.private && userData?.status === 'following') || !userData?.private || userData?.status === 'following' || (userData?.id === sessionData?.current?.id))">
				<div class="description">{{translations?.common?.privateAccount}}</div>
			</div>
		</div>

		<div class="pageUser" *ngIf="!userExists">
			<div class="noData">
				<div class="description">{{translations?.main?.userNotFound}}</div>
			</div>
		</div>
	</div>
</div>
