<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageWeb">
			<div class="content">
				<div class="pageTitle">{{translations?.confirmEmail?.title}}</div>

				<span *ngIf="pageStatus === 'default'">
					<div class="title">
						{{translations?.confirmEmail?.defaultText?.one}}
					</div>

					<div class="context">
						<div class="loading">
							<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
							{{translations?.confirmEmail?.defaultText?.two}}
						</div>
					</div>
				</span>

				<span *ngIf="pageStatus === 'completed'">
					<div class="title">
						{{translations?.confirmEmail?.confirmText?.one}}
					</div>

					<div class="context">
						{{translations?.confirmEmail?.confirmText?.two}}
						<b>@{{userData.username}}</b> {{translations?.confirmEmail?.confirmText?.three}}
						<br>
						<button mat-raised-button type="button" (click)="submit()" [disabled]="submitLoading">
							<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
							{{translations?.confirmEmail?.confirmText?.four}}
						</button>
					</div>
				</span>

				<span *ngIf="pageStatus === 'error'">
					<div class="title">
						{{translations?.confirmEmail?.errorText?.one}}
					</div>

					<div class="context">
						{{translations?.confirmEmail?.errorText?.two}}
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
