<div class="innerBodyWeb">
	<div class="header">
		<div class="center">
			<div class="logo" routerLink="/"></div>
		</div>
	</div>

	<div class="innerBodyContent">
		<div class="container" *ngIf="pageStatus == 'default'">
			<div class="title">
				{{translations?.confirmEmail?.defaultText?.one}}
			</div>

			<div class="text">
				<div class="loading">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
					{{translations?.confirmEmail?.defaultText?.two}}
				</div>
			</div>
		</div>

		<div class="container" *ngIf="pageStatus == 'completed'">
			<div class="title">
				{{translations?.confirmEmail?.confirmText?.one}}
			</div>

			<div class="text">
				{{translations?.confirmEmail?.confirmText?.two}}
				<b>@{{userData.username}}</b> {{translations?.confirmEmail?.confirmText?.three}}
				<br>
				<button mat-raised-button type="button" (click)="submit()">
					<mat-progress-spinner mode="indeterminate" *ngIf="signinLoading"></mat-progress-spinner>
					{{translations?.confirmEmail?.confirmText?.four}}
				</button>
			</div>
		</div>

		<div class="container" *ngIf="pageStatus == 'error'">
			<div class="title">
				{{translations?.confirmEmail?.errorText?.one}}
			</div>

			<div class="text">
				{{translations?.confirmEmail?.errorText?.two}}
			</div>
		</div>
	</div>
</div>
