<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageWeb">
			<div class="content">
				<div class="back" (click)="goBack()">
					<button mat-icon-button>
						<i label="back"></i>
					</button>
					<div class="text">{{translations?.common?.back}}</div>
				</div>

				<div class="pageTitle">{{translations?.about?.title}}</div>

				<div class="title">
					{{translations?.about?.companyText?.one}}
				</div>

				<div class="context">
					{{translations?.about?.companyText?.two}}
					{{translations?.about?.companyText?.three}}
				</div>
				
				<div class="title">
					{{translations?.about?.brandText?.one}}
				</div>
				
				<div class="context">
					{{translations?.about?.brandText?.two}}
					<br>
					{{translations?.about?.brandText?.three}}
					<button mat-raised-button type="button" (click)="downloadAssetPack()">
						{{translations?.about?.brandText?.four}}
					</button>
				</div>

				<div class="asset">
					<img src="assets/images/image_color.png" alt="image">
				</div>
			</div>
		</div>
	</div>
</div>
