<div class="innerBodyWeb">
	<div class="header">
		<div class="back" routerLink="/">
			<button mat-icon-button>
				<i label="back"></i>
			</button>
		</div>
		<div class="center">
			<div class="logo" routerLink="/"></div>
		</div>
	</div>

	<div class="innerBodyContent">
		<div class="container about">
			<div class="title">
				About us
			</div>

			<div class="subtitle">
				Company
			</div>

			<div class="text">
				Sasá Rafalsky, <a routerLink="/sasa">@sasa</a> (CEO, co-founder).
				<br>
				Outroo is a community where people can share their publications with their friends.
				You can do an amazing publications with audios, photos and videos.
			</div>
			
			<div class="subtitle">
				Brand
			</div>
			
			<div class="text">
				Easy way for you to use our brand.
				<br>
				Download Asset Pack.
				<button mat-raised-button type="button" (click)="downloadAssetPack()">
					Download
				</button>
			</div>

			<div class="image">
				<img src="assets/images/image_color.png" alt="image">
			</div>
		</div>
	</div>
</div>
