<div class="dialogBox">
	<div mat-dialog-title class="header">
		<div class="left">
			<button mat-icon-button (click)="close()">
				<i label="back"></i>
			</button>

			<div class="text">
				{{translations?.common?.likes}}
			</div>
		</div>
	</div>

	<div mat-dialog-content class="bodyLikes">
		<div class="container">
			<ul class="followers" *ngIf="dataDefault.list">
				<li *ngFor="let x of dataDefault.list; let i=index;">
					<a class="avatar" routerLink="/{{x.user.username}}">
						<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
					</a>

					<div class="texts">
						<div class="text">
							<a routerLink="/{{x.user.username}}">{{x.user.username}}</a>
							<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
						</div>

						<div class="text">
							{{x.user.name}}
						</div>
					</div>

					<div class="actions" *ngIf="x.user.id !== sessionData.current.id">
						<button mat-button *ngIf="x.status === 'unfollow'" (click)="followUnfollow('follow', x)">
							{{translations?.common?.follow}}
						</button>

						<button mat-button class="pending" *ngIf="x.status === 'pending'" [matMenuTriggerFor]="cancelRequest">
							{{translations?.common?.pending}}
						</button>

						<button mat-button class="following" *ngIf="x.status === 'following'" [matMenuTriggerFor]="stopFollowing">
							{{translations?.common?.following}}
						</button>

						<mat-menu #cancelRequest="matMenu" yPosition="below" xPosition="before" class="removeBox">
							<div class="text">
								{{translations?.common?.cancelRequest}}
							</div>
							<div class="buttons">
								<button mat-menu-item>{{translations?.common?.no}}</button>
								<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
							</div>
						</mat-menu>

						<mat-menu #stopFollowing="matMenu" yPosition="below" xPosition="before" class="removeBox">
							<div class="text">
								{{translations?.common?.stopFollowing}}
								<br>
								{{x.user.username}}?
							</div>
							<div class="buttons">
								<button mat-menu-item>{{translations?.common?.no}}</button>
								<button mat-menu-item (click)="followUnfollow('unfollow', x)">{{translations?.common?.yes}}</button>
							</div>
						</mat-menu>
					</div>
				</li>
			</ul>

			<div class="loadingData" *ngIf="dataDefault.loadingData">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>

			<div class="noData" *ngIf="dataDefault.noData">
				<div class="description">{{translations?.common?.noLikes}}</div>
			</div>

			<div class="loadMore" *ngIf="dataDefault.loadMoreData">
				<button mat-fab (click)="default('more', null)" *ngIf="!dataDefault.loadingMoreData">
					<i label="add"></i>
				</button>
				<mat-progress-spinner mode="indeterminate" *ngIf="dataDefault.loadingMoreData"></mat-progress-spinner>
			</div>
		</div>
	</div>
</div>
