<div class="sessionsPanelMobile">
	<div class="grabber" (click)="close()"></div>

	<ul>
		<li *ngFor="let x of sessionData?.sessions" [ngClass]="{active: sessionData?.current?.id == x.id}" (click)="setCurrentUser(x)">
			<div class="avatar">
				<img [src]="x.avatar ? x.avatarUrl : env.avatar"/>
			</div>
			<div class="text">
				<span class="name">{{x.name}}</span>
				<br>
				<span class="user">@{{x.username}}</span>
			</div>
			<div class="actions">
				<i label="check-circle"></i>
			</div>
		</li>

		<li *ngIf="sessionData.sessions.length < 10" (click)="openNewSession()">
			<div class="avatar">
				<img [src]="env.avatar"/>
			</div>
			<div class="text">
				<span class="name">{{translations?.common?.addAccount}}</span>
				<br>
				<span class="user">{{translations?.common?.setAnotherAccount}}</span>
			</div>
		</li>
	</ul>
</div>