<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageSettings">
			<div class="content">
				<div class="back" (click)="goBack()">
					<button mat-icon-button>
						<i label="back"></i>
					</button>
					<div class="text">{{translations?.common?.back}}</div>
				</div>

				<div class="pageTitle">{{translations?.settings?.title}}</div>

				<mat-tab-group mat-stretch-tabs>
		 			<mat-tab label="{{translations?.settings?.editProfile}}">
		 				<div class="avatarBackground">
							<div class="avatar">
								<div class="image" [matMenuTriggerFor]="imageOptions">
									<img [src]="sessionData.current.avatar ? sessionData.current.avatarUrl : env.avatar"/>

									<div class="upload">
										<i class="icon200 white" label="camera"></i>
									</div>
								</div>
								<input type="file" hidden (change)="openImage('upload', $event)" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff" #avatarFile>

								<mat-menu #imageOptions="matMenu" [overlapTrigger]="false">
									<button mat-menu-item (click)="avatarFile.click()">{{translations?.settings?.uploadPhoto}}</button>
									<button mat-menu-item (click)="openImage('remove', $event)">{{translations?.settings?.removePhoto}}</button>
									<mat-divider></mat-divider>
									<button mat-menu-item>{{translations?.common?.cancel}}</button>
								</mat-menu>
							</div>
						</div>

						<div class="form">
							<form [formGroup]="actionFormPersonalData" (ngSubmit)="submit('personal')">
								<div class="theme">
									<mat-radio-group formControlName="theme" name="theme">
										<mat-radio-button [value]="0" class="white">{{translations?.settings?.themes?.white}}</mat-radio-button>
										<mat-radio-button [value]="1" class="black">{{translations?.settings?.themes?.black}}</mat-radio-button>
									</mat-radio-group>
								</div>

								<mat-form-field>
									<input matInput placeholder="{{translations?.settings?.username}}" #Username maxlength="100" formControlName="username">
									<div class="validators">
										<i class="icon75 blue" label="check" *ngIf="validatorUsername === 'done'"></i>
										<i class="icon75 red" label="close" *ngIf="validatorUsername === 'bad'"></i>
										<mat-progress-spinner mode="indeterminate" *ngIf="validatorUsername === 'load'"></mat-progress-spinner>
									</div>
									<mat-hint align="end">{{Username.value.length}}/100</mat-hint>
								</mat-form-field>

								<mat-form-field>
									<input matInput placeholder="{{translations?.settings?.name}}" #Name maxlength="100" formControlName="name">
									<mat-hint align="end">{{Name.value.length}}/100</mat-hint>
								</mat-form-field>

								<mat-form-field>
									<mat-select placeholder="{{translations?.settings?.language}}" formControlName="language">
										<mat-option *ngFor="let x of sessionData.current.languages" [value]="x.id">{{x.caption}}</mat-option>
									</mat-select>
								</mat-form-field>

								<mat-form-field class="textarea">
									<textarea matInput
									placeholder="{{translations?.settings?.about}}"
									#About
									maxlength="5000"
									formControlName="about"
									cdkTextareaAutosize
									#autosize="cdkTextareaAutosize"
									cdkAutosizeMinRows="1"
									cdkAutosizeMaxRows="100"></textarea>
									<mat-hint align="end">{{About.value.length}}/1000</mat-hint>
								</mat-form-field>

								<div class="buttons">
									<button mat-raised-button type="submit" [disabled]="submitPersonalLoading">
										<mat-progress-spinner mode="indeterminate" *ngIf="submitPersonalLoading"></mat-progress-spinner>
										{{translations?.common?.submit}}
									</button>
								</div>
							</form>
						</div>
		 			</mat-tab>

		 			<mat-tab label="{{translations?.settings?.changePassword}}">
						<div class="form">
							<form [formGroup]="actionFormPasswordData" (ngSubmit)="submit('password')">
								<mat-form-field>
									<input matInput type="{{showPassword ? 'text' : 'password'}}" placeholder="{{translations?.settings?.oldPassword}}" #OldPassword maxlength="100" formControlName="oldPassword" name="current-password" autocomplete="on">
									<button mat-button matSuffix mat-icon-button type="button" (click)="showPassword=!showPassword" tabindex="-1">
										<i class="icon65 grey" [ngClass]="{'active': showPassword}" label="visibility"></i>
									</button>
									<div class="validators withButton">
										<i class="icon75 red" label="close" *ngIf="validatorOldPassword === 'bad'"></i>
									</div>
									<mat-hint align="end">{{OldPassword.value.length}}/100</mat-hint>
								</mat-form-field>

								<mat-form-field>
									<input matInput type="{{showPassword ? 'text' : 'password'}}" placeholder="{{translations?.settings?.newPassword}}" #NewPassword maxlength="100" formControlName="newPassword" name="new-password" autocomplete="on">
									<button mat-button matSuffix mat-icon-button type="button" (click)="showPassword=!showPassword" tabindex="-1">
										<i class="icon65 grey" [ngClass]="{'active': showPassword}" label="visibility"></i>
									</button>
									<div class="validators withButton">
										<i class="icon75 blue" label="check" *ngIf="validatorNewPassword === 'done'"></i>
										<i class="icon75 red" label="close" *ngIf="validatorNewPassword === 'bad'"></i>
										<mat-progress-spinner mode="indeterminate" *ngIf="validatorNewPassword === 'load'"></mat-progress-spinner>
									</div>
									<mat-hint align="end">{{NewPassword.value.length}}/100</mat-hint>
								</mat-form-field>

								<mat-form-field>
									<input matInput type="{{showPassword ? 'text' : 'password'}}" placeholder="{{translations?.settings?.confirmNewPassword}}" #ConfirmPassword maxlength="100" formControlName="confirmPassword" name="confirm-password" autocomplete="on">
									<button mat-button matSuffix mat-icon-button type="button" (click)="showPassword=!showPassword" tabindex="-1">
										<i class="icon65 grey" [ngClass]="{'active': showPassword}" label="visibility"></i>
									</button>
									<div class="validators withButton">
										<i class="icon75 blue" label="check" *ngIf="validatorNewPassword === 'done'"></i>
										<i class="icon75 red" label="close" *ngIf="validatorNewPassword === 'bad'"></i>
										<mat-progress-spinner mode="indeterminate" *ngIf="validatorNewPassword === 'load'"></mat-progress-spinner>
									</div>
									<mat-hint align="end">{{ConfirmPassword.value.length}}/100</mat-hint>
								</mat-form-field>

								<div class="buttons">
									<button mat-raised-button type="submit" [disabled]="submitPasswordLoading">
										<mat-progress-spinner mode="indeterminate" *ngIf="submitPasswordLoading"></mat-progress-spinner>
										{{translations?.common?.submit}}
									</button>
								</div>
							</form>
						</div>
		 			</mat-tab>

		 			<mat-tab label="{{translations?.settings?.accounts}}">
		 				<ul class="sessions">
							<li *ngFor="let x of sessionData?.sessions" [ngClass]="{active: sessionData?.current?.id === x.id}">
								<div mat-ripple class="inner">
									<div class="avatar" (click)="userOptions('setCurrentUser', x)">
										<img [src]="x.avatar ? x.avatarUrl : env.avatar"/>
									</div>

									<div class="texts" (click)="userOptions('setCurrentUser', x)">
										<div class="text">
											{{x.username}}
											<i class="icon50 blue" label="official" *ngIf="x.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
										</div>
										<div class="text">@{{x.username}}</div>
									</div>

									<div class="actions">
										<button mat-button [matMenuTriggerFor]="signOut">{{translations?.common?.logOut}}</button>
										<mat-menu #signOut="matMenu" yPosition="below" xPosition="before" class="removeBox">
											<div class="text">
												{{x.name}}
												<br>
												{{translations?.common?.leaveSite}}
											</div>
											<div class="buttons">
												<button mat-menu-item>{{translations?.common?.no}}</button>
												<button mat-menu-item (click)="userOptions('closeSession', x)">{{translations?.common?.yes}}</button>
											</div>
										</mat-menu>
									</div>
								</div>
							</li>

							<li *ngIf="sessionData?.sessions?.length < 10" (click)="userOptions('openNewSession', null)">
								<div mat-ripple class="inner">
									<div class="avatar add">
										<i label="add"></i>
									</div>
									<div class="texts">
										<div class="text">{{translations?.common?.addAccount}}</div>
										<div class="text">{{translations?.common?.setAnotherAccount}}</div>
									</div>
								</div>
							</li>
					    </ul>
					 </mat-tab>

					 <mat-tab label="{{translations?.settings?.privacy}}">
						<div class="privacy">
							<div class="left">
								<div class="title">{{translations?.settings?.privateAccount}}</div>
								<div class="description">
									{{translations?.settings?.privateAccountDescription}}
									<a href="/privacy">{{translations?.common?.moreInfo}}</a>.
								</div>
							</div>
							<div class="right">
								<mat-slide-toggle [checked]="sessionData?.current?.private" (change)="submit('privacy')"></mat-slide-toggle>
							</div>
						</div>

						<div class="privacy">
							<div class="left">
								<div class="title">{{translations?.settings?.miniPlayer}}</div>
								<div class="description">
									{{translations?.settings?.miniPlayerDescription}}
								</div>
							</div>
							<div class="right">
								<mat-slide-toggle [checked]="sessionData?.current?.mp" (change)="submit('miniPlayer')"></mat-slide-toggle>
							</div>
						</div>

						<div class="privacy">
							<div class="left">
								<div class="title">{{translations?.settings?.emailPromos?.title}}</div>
								<div class="description">
									{{translations?.settings?.emailPromos?.description}}
								</div>
							</div>
							<div class="right">
								<mat-slide-toggle [checked]="sessionData?.current?.ep" (change)="submit('emailPromos')"></mat-slide-toggle>
							</div>
						</div>

						<!-- <div class="privacy">
							<div class="left">
								<div class="title">Eliminar cuenta</div>
								<div class="description">
									Enviar petición para eliminar cuenta (la cuenta será eliminada pasados los 30 dias)
								</div>
							</div>
						</div> -->
					 </mat-tab>
		 		</mat-tab-group>
			</div>
		</div>
	</div>
</div>
