<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageWeb">
			<div class="content">
				<div class="back" (click)="goBack()">
					<button mat-icon-button>
						<i label="back"></i>
					</button>
					<div class="text">{{translations?.common?.back}}</div>
				</div>

				<div class="pageTitle">{{translations?.forgotPassword?.title}}</div>

				<span *ngIf="pageStatus === 'default'">
					<div class="form">
						<form [formGroup]="actionForm" (ngSubmit)="submit($event);">
							<mat-form-field>
								<input type="email" matInput placeholder="{{translations?.forgotPassword?.email}}" #Email maxlength="100" formControlName="email">
								<mat-hint align="end">{{Email.value.length}}/100</mat-hint>
							</mat-form-field>

							<re-captcha class="reCaptcha" (resolved)="verifyReCaptcha($event)" siteKey="{{env.reCaptcha}}"></re-captcha>

							<div class="buttons">
								<button mat-raised-button type="submit" [disabled]="submitLoading">
									<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
									{{translations?.common?.send}}
								</button>
							</div>
						</form>
					</div>
				</span>

				<span *ngIf="pageStatus === 'completed'">
					<div class="title">
						{{translations?.forgotPassword?.confirmText?.one}}
					</div>

					<div class="context">
						{{translations?.forgotPassword?.confirmText?.two}} <b>{{email}}</b>.
						{{translations?.forgotPassword?.confirmText?.three}}
						<br>
						<br>
						{{translations?.forgotPassword?.confirmText?.four}}
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
