<div class="dialogBox">
	<div mat-dialog-title class="header">
		<div class="left">
			<button mat-icon-button (click)="close()" [disabled]="data.arrayAddedItems.length > 10">
				<i label="back"></i>
			</button>

			<div class="text">
				{{translations?.photos?.title}} 
				{{data.arrayAddedItems.length}}/10
			</div>
		</div>

		<div class="right createPublication">
			<button mat-button type="submit" (click)="submit($event)" [disabled]="data.arrayAddedItems.length > 10">
				{{translations?.common?.submit}}
			</button>
		</div>
	</div>

	<div mat-dialog-content class="bodyCreatePublication">
		<div class="container">
			<div class="uploadFilesBox">
				<div class="button">
					<button mat-raised-button (click)="uploadFile.click()">
						<div class="left" [ngClass]="{'warning':data.list.length > 10}">
							<i label="cloud-upload"></i>
						</div>
						<div class="right">
							<div class="top">
								{{translations?.photos?.chooseFiles}}
							</div>
							<div class="bottom">
								{{translations?.photos?.maxSizePerFile}}
							</div>
						</div>
					</button>

					<input type='file' hidden #uploadFile name='fileUpload[]' multiple (change)="uploadFiles(1, $event)" accept=".jpg, .jpeg, .png, .gif, .bmp, .tiff, image/jpeg, image/png, image/gif, image/heic, image/heif, image/webp, video/*, .avi, .mp4, .3gp, .mpeg, .mov, .flv, .f4v, .wmv, .mkv, .webm, .vob, .rm, .rmvb, .m4v, .mpg, .ogv, .ts, .m2ts, .mts, .mxf">
				</div>
			</div>

			<ul class="photos">
				<li mat-ripple *ngFor="let x of data.list" (click)="toggleItem(x)">
					<div class="image">
						<div class="img" [ngStyle]="{'background-image': 'url(' + env.pathPhotos + 'thumbnails/' + x.up_name + ')'}"></div>

						<div class="category">
							<i label="cloud-upload"></i>
							<div class="size" *ngIf="x.sizeBig">{{x.sizeBig}}</div>
							<div class="size" matTooltip="{{translations?.common?.invalidFile}}" *ngIf="x.category === 'unknown'">
								{{translations?.common?.invalidFile}}
							</div>
						</div>

						<div class="status">
							<div class="progress" *ngIf="x.status=='progress'">
								<mat-progress-spinner mode="determinate" [value]="x.progress"></mat-progress-spinner>
								<div class="value">{{x.progress}}%</div>
							</div>
							<button mat-icon-button *ngIf="x.status=='error'">
								<i label="cloud-off"></i>
							</button>
							<button mat-icon-button *ngIf="x.status=='completed'">
								<i label="add" *ngIf="!x.selected"></i>
								<i label="check" *ngIf="x.selected"></i>
							</button>
						</div>
					</div>
				</li>
			</ul>

			<div class="noData" *ngIf="data.list.length === 0">
				<div class="description">
					{{translations?.photos?.addSomeFiles}}
				</div>
			</div>
		</div>
	</div>
</div>
