<div class="dialogBoxBackdrop" (click)="close()"></div>

<div class="dialogBox">
	<div mat-dialog-title class="header">
		<div class="left">
			<button mat-icon-button (click)="close()">
				<i label="back"></i>
			</button>

			<div class="text">
				{{translations?.common?.share}}
			</div>
		</div>

		<div class="right">
			<button mat-button type="submit" (click)="submit()" [disabled]="submitLoading || data.users.length === 0">
				<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
				{{translations?.common?.send}}
			</button>
		</div>
	</div>

	<div mat-dialog-content class="bodyMessage">
		<div class="container">
			<div class="searchBox">
				<div class="box">
					<form [formGroup]="actionFormSearch" (ngSubmit)="search('send')">
						<div class="inner">
							<i class="icon85 grey" label="search"></i>
							<input type="text" placeholder="{{translations?.common?.search}}" formControlName="caption">
							<button mat-icon-button type="button" *ngIf="actionFormSearch.controls.caption.value.length > 0" (click)="search('clear')">
								<i class="icon85 grey" label="close"></i>
							</button>
						</div>
					</form>
				</div>
			</div>

			<mat-expansion-panel [expanded]="data?.users?.length > 0">
				<div class="expTitle">
					{{translations?.common?.sendTo}}
				</div>

				<ul class="shareUsers">
					<li *ngFor="let x of data?.users">
						<div mat-ripple class="inner">
							<div class="avatar">
								<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
							</div>
							<div class="text">
								{{x.user.username}}
								<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
							</div>
							<div class="remove" (click)="addUser(x)">
								<i class="icon75" label="close"></i>
							</div>
						</div>
					</li>
				</ul>
			</mat-expansion-panel>

			<span *ngIf="data.active == 'default'">
				<ul class="followers" *ngIf="dataUsers.list">
					<li *ngFor="let x of dataUsers.list; let i=index;" (click)="addUser(x)">
						<a class="avatar">
							<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
						</a>

						<div class="texts">
							<div class="text">
								<a>{{x.user.username}}</a>
								<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
							</div>

							<div class="text">
								{{x.user.name}}
							</div>
						</div>

						<div class="actions">
							<div class="share">
								<mat-checkbox [(ngModel)]="x.added"></mat-checkbox>
							</div>
						</div>
					</li>
				</ul>

				<div class="loadingData" *ngIf="dataUsers.loadingData">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>

				<div class="noData" *ngIf="dataUsers.noData">
					<div class="description">{{translations?.common?.noData}}</div>
				</div>
			</span>

			<span *ngIf="data.active == 'search'">
				<ul class="followers" *ngIf="dataSearch.list">
					<li *ngFor="let x of dataSearch.list; let i=index;" (click)="addUser(x)">
						<a class="avatar">
							<img [src]="x.user.avatar ? x.user.avatarUrl : env.avatar"/>
						</a>

						<div class="texts">
							<div class="text">
								<a>{{x.user.username}}</a>
								<i class="icon50 blue" label="official" *ngIf="x.user.official" matTooltip="{{translations?.common?.verifiedAccount}}"></i>
							</div>

							<div class="text">
								{{x.user.name}}
							</div>
						</div>

						<div class="actions">
							<div class="share">
								<mat-checkbox [(ngModel)]="x.added"></mat-checkbox>
							</div>
						</div>
					</li>
				</ul>

				<div class="loadingData" *ngIf="dataSearch.loadingData">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>

				<div class="noData" *ngIf="dataSearch.noData">
					<div class="description">{{translations?.common?.noSearchResults}}</div>
				</div>

				<div class="loadMore" *ngIf="dataSearch.loadMoreData">
					<button mat-fab (click)="search('more')" *ngIf="!dataSearch.loadingMoreData">
						<i label="add"></i>
					</button>
					<mat-progress-spinner mode="indeterminate" *ngIf="dataSearch.loadingMoreData"></mat-progress-spinner>
				</div>
			</span>
		</div>
	</div>

	<div mat-dialog-actions class="buttons">
		<div class="actions">
			<button mat-raised-button type="button" (click)="close()">
				{{translations?.common?.cancel}}
			</button>
			<button mat-raised-button type="submit" (click)="submit()" [disabled]="submitLoading">
				<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
				{{translations?.common?.send}}
			</button>
		</div>
	</div>
</div>
