<div class="dialogBox">
	<div mat-dialog-title class="header">
		<div class="left">
			<button mat-icon-button (click)="close()">
				<i label="back"></i>
			</button>

			<div class="text">
				{{translations?.common?.share}}
			</div>
		</div>

		<div class="right">
			<button mat-button type="submit" (click)="submit()" [disabled]="saveLoading || data.users.length === 0">
				{{translations?.common?.send}}
			</button>
		</div>
	</div>

	<div mat-dialog-content class="bodyMessage">
		<div class="container">
			<div class="searchBox">
				<div class="box">
					<form [formGroup]="actionFormSearch" (ngSubmit)="search('send')">
						<div class="inner">
							<i label="search"></i>

							<div class="chips">
								<mat-chip-list matPrefix>
									<mat-chip *ngFor="let x of data.users" (click)="addUser(x)">
										<div class="avatar">
											<img [src]="x.user.avatar ? x.user.avatarUrl : environment.avatar"/>
										</div>
										<span class="name">{{x.user.username}}</span>
										<i label="close"></i>
									</mat-chip>

									<input type="text" placeholder="{{translations.search}}" formControlName="caption">
								</mat-chip-list>
							</div>

							<button mat-icon-button type="button" *ngIf="actionFormSearch.controls.caption.value.length > 0" (click)="search('clear')">
								<i label="close"></i>
							</button>
						</div>
					</form>
				</div>
			</div>

			<span *ngIf="data.active == 'default'">
				<ul class="usersList" *ngIf="dataUsers.list.length > 0">
					<li *ngFor="let x of dataUsers.list" (click)="addUser(x)">
						<div class="avatar">
							<img [src]="x.user.avatar ? x.user.avatarUrl : environment.avatar"/>
						</div>

						<div class="text">
							<span class="username">
								{{x.user.username}}
								<i *ngIf="x.user.official" matTooltip="{{translations.verifiedAccount}}"></i>
							</span>
							<br>
							<span class="name">{{x.user.name}}</span>
						</div>

						<div class="actions">
							<i label="check-circle" *ngIf="x.added"></i>
							<i label="uncheck-circle" *ngIf="!x.added"></i>
						</div>
					</li>
				</ul>

				<div class="loadingData" *ngIf="dataUsers.loadingData">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>

				<div class="noData" *ngIf="dataUsers.noData">
					<div class="description">{{translations?.common?.noData}}</div>
				</div>
			</span>

			<span *ngIf="data.active == 'search'">
				<ul class="usersList" *ngIf="dataSearch.list.length > 0">
					<li *ngFor="let x of dataSearch.list" (click)="addUser(x)">
						<div class="avatar">
							<img [src]="x.user.avatar ? x.user.avatarUrl : environment.avatar"/>
						</div>

						<div class="text">
							<span class="username">{{x.user.username}}</span>
							<br>
							<span class="name">{{x.about.trim() ? x.about : x.user.name}}</span>
						</div>

						<div class="actions">
							<i label="check-circle" *ngIf="x.added"></i>
							<i label="uncheck-circle" *ngIf="!x.added"></i>
						</div>
					</li>
				</ul>

				<div class="loadingData" *ngIf="dataSearch.loadingData">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>

				<div class="noData" *ngIf="dataSearch.noData">
					<div class="description">{{translations?.common?.noSearchResults}}</div>
				</div>
				
				<div class="loadMore" *ngIf="dataSearch.loadMoreData">
					<button mat-fab (click)="search('more')" *ngIf="!dataSearch.loadingMoreData">
						<i label="add"></i>
					</button>
					<mat-progress-spinner mode="indeterminate" *ngIf="dataSearch.loadingMoreData"></mat-progress-spinner>
				</div>
			</span>
		</div>
	</div>
</div>
