<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageBookmarks">
			<div class="content">
				<div class="back" (click)="goBack()">
					<button mat-icon-button>
						<i label="back"></i>
					</button>
					<div class="text">{{translations?.common?.back}}</div>
				</div>

				<div class="pageTitle">{{translations?.bookmarks?.title}}</div>

				<ul class="publicationsBoxes" *ngIf="dataDefault?.list">
					<li *ngFor="let x of dataDefault?.list" [ngClass]="{'remove': x.bookmarkRemoved, 'advert': x.contentTypeAd}">
						<span class="inner" *ngIf="!x.contentTypeAd">
							<a mat-ripple class="image" routerLink="/p/{{x.name}}" target="popup" (click)="itemPublicationOptions('show', x); false;">
								<div class="img" [ngStyle]="{'background-image': 'url(' + (x.contentData ? (x.contentData.duration ? env.pathVideos + 'thumbnails/' + x.contentData.name : (x.contentData.mimetype.indexOf('gif') > -1 ?  env.pathPhotos + x.contentData.name : env.pathPhotos + 'thumbnails/' + x.contentData.name)) : env.defaultPostImage) + ')'}"></div>
							</a>
						</span>

						<div class="ad" *ngIf="x.contentTypeAd">
							<div class="adContent" [innerHtml]="x.content | safeHtml"></div>
							<div class="disableAdBlock" *ngIf="hideAd">
								{{translations?.common?.disableAdBlock}}
							</div>
						</div>
					</li>
				</ul>

				<div class="loadingData" *ngIf="dataDefault.loadingData">
					<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
				</div>

				<div class="noData" *ngIf="dataDefault.noData">
					<div class="description">{{translations?.bookmarks?.noData}}</div>
				</div>

				<div class="loadMore" *ngIf="dataDefault.loadMoreData">
					<button mat-fab (click)="default('more')" *ngIf="!dataDefault.loadingMoreData">
						<i label="add"></i>
					</button>
					<mat-progress-spinner mode="indeterminate" *ngIf="dataDefault.loadingMoreData"></mat-progress-spinner>
				</div>
			</div>
		</div>
	</div>
</div>
