<div class="innerBodyUser">
	<div class="innerBodyContent">
		<div class="pageBookmarks">
			<div class="content">
				<div class="back" (click)="goBack()">
					<button mat-icon-button>
						<i label="back"></i>
					</button>
					<div class="text">{{translations?.common?.back}}</div>
				</div>

				<div class="pageTitle">{{translations?.bookmarks?.title}}</div>

				<span *ngIf="!deniedAccessOnlySession">
					<span *ngIf="dataDefault.list">
						<div class="line" *ngFor="let line of dataDefault.list; let l = index;" [ngClass]="{'ad': line.contentTypeAd}">
							<ul class="publications" *ngIf="!line.contentTypeAd">
								<li mat-ripple *ngFor="let x of line; let i = index;" [ngClass]="{'remove': x.addRemoveSession, 'remove': x.marked}">
									<a class="image" (click)="show(x, l, i)">
										<span *ngIf="x.type == 'photo'">
											<div class="img" [ngStyle]="{'background-image': 'url(' + (x.photos.mimetype.indexOf('image') !== -1 ? environment.pathPhotos : environment.pathVideos) + 'thumbnails/' + x.photos.name + ')'}"></div>
											<div class="category" *ngIf="x.photos.mimetype.indexOf('video') !== -1">
												<i label="videocam"></i>
											</div>
										</span>

										<span *ngIf="x.type == 'url'">
											<div class="img" [ngStyle]="{'background-image': 'url(' + x.urlVideo.thumbnail + ')'}"></div>
											<div class="category">
												<i label="videocam"></i>
											</div>
										</span>
									</a>
								</li>
							</ul>

							<div class="adContent" *ngIf="line.contentTypeAd">
								<div class="box" [innerHtml]="line.content | safeHtml"></div>
								<div class="disableAdBlock" *ngIf="hideAd">
									{{translations?.common?.disableAdBlock}}
								</div>
							</div>
						</div>
					</span>

					<div class="loadingData" *ngIf="dataDefault.loadingData">
						<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
					</div>

					<div class="noData" *ngIf="dataDefault.noData">
						{{translations?.bookmarks?.noData}}
					</div>
					
					<div class="loadMore" *ngIf="dataDefault.loadMoreData">
						<button mat-fab (click)="default('more', null)" *ngIf="!dataDefault.loadingMoreData">
							<i label="add"></i>
						</button>
						<mat-progress-spinner mode="indeterminate" *ngIf="dataDefault.loadingMoreData"></mat-progress-spinner>
					</div>
				</span>

				<span *ngIf="deniedAccessOnlySession">
					<div class="noData">
						{{translations?.common?.createAnAccountToSeeContent}}
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
